@model GlobeWork.ViewModel.ChangePasswordModel
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}
<div class="container">
    <div class="box-content">
        <div class="box-header">
            <h3>
                Cài đặt tài khoản
            </h3>
        </div>
        <div class="box-body profile-tabs" id="tabs">
            <div class="row">
                <div class="col-xl-3 mb-3">
                    @Html.Action("NavProfile")
                </div>
                <div class="col-xl-9">
                    <div class="form-content">
                        @using (Html.BeginForm("ChangePassword", "Employer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "bg-white p-3 form-employer" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-content shadow-none">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.OldPassword)
                                    @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control", @placeholder = "Nhập mật khẩu hiện tại" })
                                    @Html.ValidationMessageFor(a => a.OldPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Password)
                                    @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu mới" })
                                    @Html.ValidationMessageFor(a => a.Password)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(a => a.ConfirmPassword)
                                    @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu" })
                                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">
                                        Lưu lại
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        @if (ViewBag.Result == "success")
        {
            <Text>
                new Notify({
                    status: 'success',
                    title: 'Thành công',
                    text: 'Đổi mật khẩu thành công',
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 70,
                    distance: 20,
                    type: 3,
                    position: 'right top'
                })
            </Text>
        }
    </script>
}