@{
    var FullName = ViewContext.RouteData.Values["FullName"].ToString();
    var id = ViewContext.RouteData.Values["Id"].ToString();
    var avatar = ViewContext.RouteData.Values["Avatar"].ToString();
    var email = ViewContext.RouteData.Values["Email"].ToString();
}

<header class="header-employer">
    <button type="button" class="hamburger" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
    </button>
    <a href="" class="logo">
        <img src="~/Content/images/logo.png" />
    </a>
    <ul>
        <li>
            <a href="">
                <i class="fa-solid fa-bell"></i>
                <span>99+</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("PostNews", "Employer")">
                <i class="fa-sharp fa-solid fa-pen-circle"></i>
                Đăng tin
            </a>
        </li>
        <li>
            <a href="@Url.Action("ShoppingCart", "Employer")">
                <i class="fa-solid fa-cart-shopping"></i>
                Giỏ hàng
                <span>99+</span>
            </a>
        </li>
        <li>
            <div class="dropdown dropdown-menu-lg-right">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    @if (avatar == "")
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
                    }
                    else
                    {
                        <img src="@Path.Combine("/images/employer/", avatar)" alt="@FullName" />
                    }
                    @FullName
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Logout")">Đăng xuất</a>
                </div>
            </div>
        </li>
    </ul>
</header>
