@model GlobeWork.ViewModel.EmployerViewModel
@{
    ViewBag.Title = "Tổng quan";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="container py-3">
    <div class="row custom-row">
        <div class="col-6">
            <div class="box-content">
                <div class="box-header">
                    <h3>
                        Hiệu quả tuyển dụng
                    </h3>
                    <a href="javascript:;">
                        <i class="fa-solid fa-circle-info"></i>
                        <div>
                            Số liệu cập nhật theo ngày
                        </div>
                    </a>
                </div>

                <div class="box-body">
                    <div class="dashboard">
                        <a href="@Url.Action("ListNews")" class="media item-dashboard blue">
                            <div class="media-body">
                                <h5 class="mt-0">@Model.JobPost</h5>
                                <p>Tin tuyển dụng</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard green">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>CV tiếp nhận</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard yellow">
                            <div class="media-body">
                                <h5 class="mt-0">0</h5>
                                <p>Tin tuyển dụng hiển thị</p>
                            </div>
                            <i class="fal fa-bullhorn"></i>
                        </a>
                        <a href="" class="media item-dashboard red">
                            <div class="media-body">
                                <h5 class="mt-0">@Html.DisplayFor(a => a.Amount)</h5>
                                <p>Số tiền đã tiêu</p>
                            </div>
                            <i class="fas fa-coins"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="box-content">
                <div class="box-header">
                    <h3>
                        Thông tin nhà tuyển dụng
                    </h3>
                    <a href="javascript:;">
                        <i class="fa-solid fa-circle-info"></i>
                        <div>
                            Số liệu cập nhật liên tục
                        </div>
                    </a>
                </div>
                <div class="box-body">
                    <div class="user-info media">
                        @if (Model.Employer.Avatar != null)
                        {
                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/employer/", Model.Employer.Avatar)" alt="@Model.Employer.FullName" class="lazyload" />
                        }
                        else
                        {
                            <img src="~/Content/images/avatar-default.jpg" alt="@Model.Employer.FullName" />
                        }
                        <ul class="media-body">
                            <li>@Model.Employer.FullName</li>
                            <li>
                                Email: <span>@Model.Employer.Email</span>
                            </li>
                            <li>
                                Số ĐT: <span>@Model.Employer.PhoneNumber</span>
                            </li>
                            <li>
                                Tài khoản: <span class="@if(Model.Employer.Amount == 0) {@Html.Raw("text-danger")}">@Html.DisplayFor(a => Model.Employer.Amount)</span>
                            </li>
                        </ul>
                    </div>
                    <div class="use-package media">
                        <a href="javascript:;">
                            <i class="fa-regular fa-medal"></i>
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">Gói loại 1</h5>
                            <p>Đang sử dụng</p>
                        </div>
                        <a href="javascript:;">
                            <i class="fa-light fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        @if (ViewBag.Result == "success")
        {
            <Text>
                new Notify({
                    status: 'success',
                    text: 'Đăng nhập thành công',
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 77,
                    distance: 20,
                    type: 3,
                    position: 'right top'
                })
            </Text>
        }
    </script>
}