@model GlobeWork.ViewModel.ListCvViewModel
@using GlobeWork.Utils
@using Helpers
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý CV ứng viên";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}
<div class="contents-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="container py-3">
    <div class="box-content">
        <form class="box-header form-row mb-3" action="@Url.Action("ListCV")" method="get">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-regular fa-magnifying-glass"></i></div>
                    </div>
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @placeholder = "Tìm kiếm theo tên" })
                </div>
            </div>
            <div class="col">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Trạng thái hiển thị:</div>
                    </div>
                    <select class="form-control" name="status">
                        <option value="0">Đang chờ</option>
                        <option value="1">NTD đã xem CV</option>
                        <option value="2">Hồ sơ phù hợp</option>
                        <option value="3">Hồ sơ chưa phù hợp</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">
                    Tìm kiếm
                </button>
            </div>
        </form>
        @if (Model.ApplyJobs.Any())
        {
            foreach (var item in Model.ApplyJobs)
            {
                <div class="vitae media" data-id="@item.Id">
                    @if (item.User.Avatar != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/user/", item.User.Avatar)" class="lazyload" />
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" />
                    }
                    <div class="media-body">
                        <div class="apply-name">
                            @item.User.FullName
                        </div>
                        <ul class="position-relative">
                            @if (item.Status == GlobeWork.Models.ApplyJobStatus.Waiting)
                            {
                                <li class="tag error">
                                    Chưa xem
                                </li>
                            }
                            else if (item.Status == GlobeWork.Models.ApplyJobStatus.Active)
                            {
                                <li class="tag success">
                                    Phù hợp
                                </li>
                            }
                            else if (item.Status == GlobeWork.Models.ApplyJobStatus.NoActive)
                            {
                                <li class="tag error">
                                    Chưa phù hợp
                                </li>
                            }
                            <li>
                                <i class="fa-solid fa-briefcase"></i>
                                @item.JobPost.Name
                            </li>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                @foreach (var countruy in item.JobPost.Cities)
                                {
                                    @countruy.Name
                                    if (countruy != item.JobPost.Cities.Last())
                                    {
                                        @: ,
                                    }
                                }
                            </li>
                            <li>
                                <i class="fa-solid fa-clock"></i>
                                Cập nhật: @Html.DateVn(item.JobPost.LastEditDate, 2)
                            </li>
                            <li>
                                <i class="fa-solid fa-circle-dollar"></i>
                                @Html.DisplayFor(a => item.JobPost.Wages)
                            </li>
                            <li>
                                <i class="fa-solid fa-eye"></i>
                                @item.JobPost.View lượt xem
                            </li>
                        </ul>
                    </div>
                    <div class="media-body des">
                        @item.Body
                    </div>
                    <div class="tool">
                        @if (item.TypeApply == GlobeWork.Models.TypeApply.Profile)
                        {
                            <a href="@Url.Action("ViewApply", "Employer", new {id = item.Id})" class="bg-info view-profile" data-id="@item.Id" data-tooltip="Xem" data-tooltip-position="top right">
                                <i class="far fa-eye"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ViewCv", "Employer", new {id = item.Id})" class="bg-info" data-tooltip="Xem" data-tooltip-position="top right">
                                <i class="far fa-eye"></i>
                            </a>
                        }
                        @if (item.Status != GlobeWork.Models.ApplyJobStatus.Active && item.Status != GlobeWork.Models.ApplyJobStatus.NoActive)
                        {
                            <a href="javascript:;" onclick="UpdateApply(@item.Id , 1)" class="bg-success" data-tooltip="Phù hợp" data-tooltip-position="top right">
                                <i class="fa-solid fa-check"></i>
                            </a>
                            <a href="javascript:;" onclick="UpdateApply(@item.Id , 2)" class="bg-danger" data-tooltip="Từ chối" data-tooltip-position="top right">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                        }
                        <a href="javascript:;" onclick="DeleteApply(@item.Id)" class="bg-success" data-tooltip="Phù hợp" data-tooltip-position="top right">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </div>
                </div>
            }
            if (Model.ApplyJobs.PageCount > 1)
            {
                <div>
                    @Html.PagedListPager(Model.ApplyJobs, page => Url.Action("ListCv", new { page, name = Model.Name, status = Model.Status }))
                </div>
            }
        }
    </div>
</div>
@section scripts{
    <script>
        function UpdateApply(id, status) {
            $.post("/Employer/UpdateStatusCV", { id: id, status: status }, function (data) {
                console.log(data)
                if (data.success) {
                    new Notify({
                        status: 'success',
                        text: "Cập nhật thành công",
                        effect: 'slide',
                        speed: 600,
                        showIcon: true,
                        showCloseButton: true,
                        autoclose: true,
                        autotimeout: 3000,
                        gap: 10,
                        distance: 20,
                        type: 3,
                        position: 'right bottom'
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            });
        }
        function DeleteApply(id) {
            $.post("/Employer/DeleteApply", { id: id }, function (data) {
                if (data.success) {
                    new Notify({
                        status: 'success',
                        text: "Xóa thành công",
                        effect: 'slide',
                        speed: 600,
                        showIcon: true,
                        showCloseButton: true,
                        autoclose: true,
                        autotimeout: 3000,
                        gap: 10,
                        distance: 20,
                        type: 3,
                        position: 'right bottom'
                    });
                    $(".vitae[data-id='" + id + "']").fadeOut();
                }
            });
        }
    </script>
    }