@model GlobeWork.ViewModel.ListArticleViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}
<div class="contents-header">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("Article")" class="btn btn-primary"><i class="fa-sharp fa-solid fa-pen-to-square mr-2"></i>Đăng tin</a>
</div>
<div class="container py-4">
    <div class="box-content">
        <form class="box-header form-row" action="@Url.Action("ListNews")" method="get">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa-regular fa-magnifying-glass"></i></div>
                    </div>
                    @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @placeholder = "Tìm kiếm theo tiêu đề hoặc mã tin" })
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">
                    Tìm kiếm
                </button>
            </div>
        </form>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:50%">
                            Tên
                        </th>
                        <th class="text-center">
                            Ảnh đại diện
                        </th>
                        <th class="text-center">
                            Nổi bật
                        </th>
                        <th class="text-center">
                            Lượt xem
                        </th>
                        <th class="text-center">
                            <i class="fa-light fa-gear"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Articles)
                    {
                        <tr data-id="@item.Id">
                            <td class="align-middle">
                                @if (!item.Active)
                                {
                                    <div class="draft mb-2">
                                        Tin Nháp
                                    </div>
                                    <span class="badge badge-secondary">Không hiển thị</span>
                                }
                                <strong class="my-2">
                                    @item.Subject
                                </strong>
                            </td>
                            <td class="text-center align-middle">
                                @if (item.Image != null)
                                {
                                    <img src="@Path.Combine("/images/articles/", item.Image)" class="img-a" />
                                }
                                else
                                {
                                    @:Không có ảnh
                                }
                            </td>
                            <td class="text-center align-middle">
                                @if (DateTime.Now > item.Hot)
                                {
                                    <span class="text-danger"> Hết thời gian hiển thị</span>
                                    <div class="text-secondary font-size-12">
                                        @Html.DisplayFor(a => item.Hot)
                                    </div>
                                }
                                else
                                {
                                    <strong>
                                        @Html.DisplayFor(a => item.Hot)
                                    </strong>
                                }
                            </td>
                            <td class="text-center align-middle">
                                @item.View
                            </td>
                            <td class="text-center align-middle">
                                <ul class="tools-group">
                                    <li>
                                        <a href="@Url.Action("UpdateArticle", new {articleId = item.Id})"><i class="fa-solid fa-pencil"></i></a>
                                    </li>
                                    <li class="job-action">
                                        @if (item.Active)
                                        {
                                            <a href="#" onclick="UpdateStatusArticle(@item.Id , 1)"><i class="fa-solid fa-pause"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="UpdateStatusArticle(@item.Id , 2)"><i class="fa-solid fa-play"></i></a>
                                        }
                                    </li>
                                    <li>
                                        <a href="#" onclick="deleteArticle(@item.Id)"><i class="fas fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                    @if (Model.Articles.PageCount > 1)
                    {
                        <tr>
                            <td colspan="8">@Html.PagedListPager(Model.Articles, page => Url.Action("ListArticle", new { page, name = Model.Name}))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        ListJob()
    </script>
}