@model GlobeWork.ViewModel.SetNewPasswordViewModel
@using GlobeWork.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"></div>
    <div class="contents order-2 order-md-1 d-flex flex-column justify-content-center">
        @*<a href="/">
            @if (config.Image != null)
            {
                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/configs/", config.Image)" alt="@config.Title" class="logo-form lazyload" />
            }
        </a>*@
        <div class="title-form">
            Đặt lại mật khẩu
        </div>
        @using (Html.BeginForm("SetNewPasswordUrl", "Employer", FormMethod.Post, new { @class = "user-form" }))
        {
            if (ViewBag.Result == "sucsess")
            {
                <div class="alert-message mx-3 mx-md-0 message-success">
                    <i class="fal fa-check-circle  mr-2"></i> Đặt mật khẩu mới thành công. Vui lòng đăng nhập <a href="@Url.Action("EmployerLogin")" class="text-dark">tại đây</a>
                </div>
            }
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <input type="hidden" name="Token" value="@Model.Token" />
            @Html.LabelFor(a => a.Password)
            <div class="form-group form-control control-user">
                <i class="fas fa-envelope"></i>
                @Html.PasswordFor(a => a.Password, new { @placeholder = "Nhập mật khẩu" })
            </div>
            @Html.ValidationMessageFor(a => a.Password)
            @Html.LabelFor(a => a.ConfirmPassword)
            <div class="form-group form-control control-user">
                <i class="fas fa-envelope"></i>
                @Html.PasswordFor(a => a.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu" })
            </div>
            @Html.ValidationMessageFor(a => a.ConfirmPassword)
            <button type="submit" class="submit-form btn btn-block form-group">
                Tạo lại mật khẩu
            </button>
        }
        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("EmployerLogin", "Employer")" class="text-success">Quay lại đăng nhập</a>
            <a href="@Url.Action("Employer", "Employer")" class="text-success">Đăng ký tài khoản mới</a>
        </div>
        <hr />
        <div class="text-center">
            <strong> Bạn gặp khó khăn khi tạo tài khoản?</strong>
            <br />
            Vui lòng gọi tới số <a href="tel:@config.Hotline" class="text-success">@config.Hotline</a> (giờ hành chính).
        </div>
    </div>
</div>
@section scripts{
    <script>
        User();
    </script>
}