@{
    var FullName = ViewContext.RouteData.Values["FullName"].ToString();
    var id = ViewContext.RouteData.Values["Id"].ToString();
    var avatar = ViewContext.RouteData.Values["Avatar"].ToString();
    var email = ViewContext.RouteData.Values["Email"].ToString();
    var amount = string.Format("{0:N0}" + " VNĐ", Convert.ToDecimal(ViewContext.RouteData.Values["Amount"]));
}
<div class="sidebar">
    <div class="close" onclick="closeSidebarMobile()">
        <i class="fa-sharp fa-regular fa-xmark"></i>
    </div>
    <div class="media user-sidebar">
        <div class="w-show">
            @if (avatar == "" || avatar == null)
            {
                <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
            }
            else
            {
                <img src="@Path.Combine("/images/employer/", avatar)" alt="@FullName" />
            }
        </div>
        <div class="w-hidden media-body">
            <h5 class="mt-0">@FullName</h5>
            <p>Nhà tuyển dụng</p>
            <p>Tài khoản: <strong class="text-success">@amount</strong></p>
        </div>
    </div>
    <div class="vw"></div>
    <ul class="nav-sidebar">
        <li>
            <a href="@Url.Action("Index", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-chart-line"></i>
                </div>
                <div class="w-hidden">
                    Tổng quan
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ListCV", "Employer")">
                <div class="w-show">
                    <i class="far fa-address-card"></i>
                </div>
                <div class="w-hidden">
                    Hồ sơ việc làm
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ListCVStudy", "Employer")">
                <div class="w-show">
                    <i class="far fa-address-card"></i>
                </div>
                <div class="w-hidden">
                    Hồ sơ du học
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ListNews", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-file-invoice"></i>
                </div>
                <div class="w-hidden">
                    Tin tuyển dụng
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ListStudyAbroad", "Employer")">
                <div class="w-show">
                    <i class="fas fa-plane-departure"></i>
                </div>
                <div class="w-hidden">
                   Tin du học
                </div>
            </a>
        </li>
        @*<li>
            <a href="@Url.Action("ListArticle", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-file"></i>
                </div>
                <div class="w-hidden">
                    Bài viết
                </div>
            </a>
        </li>*@
        <li>
            <a href="@Url.Action("Naptien", "Employer")">
                <div class="w-show">
                    <i class="fas fa-coins"></i>
                </div>
                <div class="w-hidden">
                    Nạp tiền
                </div>
            </a>
        </li>
    </ul>
    <div class="vw"></div>
    <ul class="nav-sidebar">
        <li>
            <a href="@Url.Action("History", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-clock-rotate-left"></i>
                </div>
                <div class="w-hidden">
                    Lịch sử hoạt động
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Personal", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-gear"></i>
                </div>
                <div class="w-hidden">
                    Cài đặt tài khoản
                </div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Employer")">
                <div class="w-show">
                    <i class="fa-regular fa-arrow-right-from-bracket"></i>
                </div>
                <div class="w-hidden">
                    Đăng xuất
                </div>
            </a>
        </li>
    </ul>
</div>