@model GlobeWork.ViewModel.UserPasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="container">
    <div class="row py-3">
        <div class="col-lg-8">
            <div class="recruitment bg-white shadow">
                @if (ViewBag.Result == 1)
                {
                    <div class="alert alert-success">Đổi mật khẩu thành công.</div>
                }
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "user-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.LabelFor(a => a.OldPassword)
                    <div class="form-control control-user mb-3">
                        <i class="fa-solid fa-shield-keyhole"></i>
                        @Html.PasswordFor(a => a.OldPassword, new { @placeholder = "Nhập mật khẩu cũ" })
                    </div>
                    @Html.ValidationMessageFor(a => a.OldPassword)
                    @Html.LabelFor(a => a.Password)
                    <div class="form-control control-user mb-3">
                        <i class="fa-solid fa-shield-keyhole"></i>
                        @Html.PasswordFor(a => a.Password, new { @placeholder = "Nhập mật khẩu" })
                    </div>
                    @Html.ValidationMessageFor(a => a.Password)
                    @Html.LabelFor(a => a.ConfirmPassword)
                    <div class="form-control control-user mb-3">
                        <i class="fa-solid fa-shield-keyhole"></i>
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu" })
                    </div>
                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                    <button type="submit" class="submit-form btn btn-block  text-center">
                        Đổi mật khẩu
                    </button>
                }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="info-box bg-white shadow rounded">
                <div class="media">
                    @if (Model.User.Avatar != null)
                    {
                        <img src="@Path.Combine("/images/user/", Model.User.Avatar)" alt="@Model.User.FullName" class="right-avatar" />
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.User.FullName" class="right-avatar" />
                    }
                    <div class="media-body ml-2">
                        <span>Chào bạn chở lại</span>
                        <div class="name-user">
                            @Model.User.FullName
                        </div>
                        <div class="account-type vip mt-2">
                            Tài khoản đã xác thực
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}