@model GlobeWork.ViewModel.InsertProjectViewModel
@{
    int currentYear = DateTime.Now.Year;
    int startYear = 1960;
    var starMonth = "";
    var starYear = "";
    var endMonth = "";
    var endYear = "";
    starMonth = Model.Project.StartDate.Split('/')[0];
    starYear = Model.Project.StartDate.Split('/')[1];
    endMonth = Model.Project.EndDate.Split('/')[0];
    endYear = Model.Project.EndDate.Split('/')[1];
}
<div class="modal-header">
    <strong class="modal-title" id="exampleModalScrollableTitle">Dự án</strong>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form class="modal-body edit-project-form" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(a => a.Project.Id)
    <div class="form-group">
        <label class="font-weight-bold">
            Tên dự án *
        </label>
        @Html.TextBoxFor(a => a.Project.Name, new { @class = "form-control", @placeholder = "Tên dự án" })
        @Html.ValidationMessageFor(a => a.Project.Name)
    </div>
    <div class="form-group">
        <label class="font-weight-bold">
            Khách hàng *
        </label>
        @Html.TextBoxFor(a => a.Project.Customer, new { @class = "form-control", @placeholder = "Khách hàng" })
        @Html.ValidationMessageFor(a => a.Project.Customer)
    </div>
    <div class="form-group">
        <label class="font-weight-bold">
            Vị trí *
        </label>
        @Html.TextBoxFor(a => a.Project.Postion, new { @class = "form-control", @placeholder = "Vị trí" })
        @Html.ValidationMessageFor(a => a.Project.Postion)
    </div>
    <div class="form-group">
        <label class="font-weight-bold">
            Số thành viên *
        </label>
        @Html.TextBoxFor(a => a.Project.Member, new { @class = "form-control", @placeholder = "Số thành viên" })
        @Html.ValidationMessageFor(a => a.Project.Member)
    </div>
    <div class="form-group">
        <label class="font-weight-bold">
            Công nghệ sử dụng
        </label>
        @Html.TextBoxFor(a => a.Project.Tech, new { @class = "form-control", @placeholder = "Công nghệ sử dụng" })
        @Html.ValidationMessageFor(a => a.Project.Tech)
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-3 col-6 mb-lg-0 mb-3">
                <label for="startMonth">Bắt đầu</label>
                <select class="form-control" name="StarMonth" id="startMonth" required="">
                    <option value="">Chọn tháng</option>
                    @for (var i = 1; i <= 12; i++)
                    {
                        <option @if (i == Convert.ToInt32(starMonth)) { @Html.Raw("selected") } value="@i">Tháng @i</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-6 mb-lg-0 mb-3 d-flex align-items-end">
                <label for="startYear">&nbsp;</label>
                <select class="form-control" name="StarYear" id="startYear" required>
                    <option value="">Chọn năm</option>
                    @for (var i = currentYear; i >= startYear; i--)
                    {
                        <option @if (i == Convert.ToInt32(startYear)) { @Html.Raw("selected") } value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-6 end">
                <label for="endMonth">Kết thúc</label>
                <select class="form-control" name="EndMonth" id="endMonth" required>
                    <option value="">Chọn tháng</option>
                    @for (var i = 1; i <= 12; i++)
                    {
                        <option @if (i == Convert.ToInt32(endMonth)) { @Html.Raw("selected") } value="@i">Tháng @i</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-6 end">
                <label for="endYear">&nbsp;</label>
                <select class="form-control" name="EndYear" id="endYear" required>
                    <option value="">Chọn năm</option>
                    @for (var i = currentYear; i >= startYear; i--)
                    {
                        <option @if (i == Convert.ToInt32(endYear)) { @Html.Raw("selected") } value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">
            Mô tả chi tiết
        </label>
        @Html.TextAreaFor(a => a.Project.Description, new { @class = "form-control", @placeholder = "Mô tả chi tiết quá trình học của bạn để nhà tuyển dụng có thể hiểu bạn hơn" })
    </div>
    <div class="form-group">
        <i>Thêm liên kết hoặc tải lên hình ảnh về kinh nghiệm của bạn</i>
        <div class="d-flex mt-3">
            <label class="custom-button" for="editprojectImg">
                <i class="fa-regular fa-image mr-2"></i> Tải ảnh
                <input type="file" id="editprojectImg" name="files[]" accept="image/*" multiple="" class="d-none" />
            </label>
        </div>
        <div class="mt-3 row" id="edit-project-img">
            @if (Model.Project.Image != null)
            {
                foreach (var arr in Model.Project.Image.Split(','))
                {
                    var i = 1;
                    <div class="col-lg-4 mb-3">
                        <div class="card card-ex">
                            <input type="hidden" name="Pictures" value="@arr" />
                            <img src="@Path.Combine("/images/project/", arr)" />
                            <div class="remove removeeditImgProject" id="@i" onclick="delfile( '@i')">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                    i = i + 1;
                }
            }
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-danger mr-3" onclick="DeleteProject(@Model.Project.Id)">Xóa</button>
        <button type="submit" class="btn btn-success">Cập nhật</button>
    </div>
</form>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(".edit-project-form").submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        $.post("/User/EditProject", formData, function (data) {
            if (data.success) {
                new Notify({
                    status: 'success',
                    text: data.message,
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 10,
                    distance: 20,
                    type: 3,
                    position: 'right bottom'
                });
                $(".close").click()
                setTimeout(function () {
                    location.reload();
                }, 1500);
            } else {
                new Notify({
                    status: 'error',
                    text: data.message,
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 10,
                    distance: 20,
                    type: 3,
                    position: 'right bottom'
                });
            }
        });
    });

    function DeleteProject(id) {
        $.post("/User/RemoveProject", { id: id }, function (data) {
            if (data.success) {
                new Notify({
                    status: 'success',
                    text: data.message,
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 10,
                    distance: 20,
                    type: 3,
                    position: 'right bottom'
                });
                $(".close").click()
                $("div[data-project='" + id + "']").fadeOut();

            } else {
                new Notify({
                    status: 'error',
                    text: data.message,
                    effect: 'slide',
                    speed: 600,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 10,
                    distance: 20,
                    type: 3,
                    position: 'right bottom'
                });
            }
        })
    }
    var i = 1;
    $("#editprojectImg").fileupload({
        add: function (e, data) {
            var uploadErrors = [];
            var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
            if (data.originalFiles[0]["type"].length && !acceptFileTypes.test(data.originalFiles[0]["type"])) {
                uploadErrors.push("Chỉ chấp nhận định dạng jpeg, jpg, png, gif");
            }
            if (data.originalFiles[0]["size"] > 4000000) {
                uploadErrors.push("Dung lượng ảnh lớn hơn 4MB");
            }
            var totalImg = $("#edit-project-img .col-lg-4").length;
            console.log(totalImg)
            if (totalImg >= 10) {
                uploadErrors.push("Chỉ đăng tối đa 10 ảnh");
            }
            if (uploadErrors.length > 0) {
                alert(uploadErrors.join("\n"));
                return false;
            } else {
                data.submit();
            }
            return true;
        },
        url: "/Uploader/Upload?folder=project&r=" + Math.random(),
        dataType: "json",
        done: function (e, data) {
            console.log(data.result.files)
            $.each(data.result.files, function (index, file) {
                $('#edit-project-img').append('<div class="col-lg-4 mb-3"><div class="card card-ex"><input type="hidden" name="Pictures" value="' + file.name + '" /><img src="/images/project/' + file.name + '" /><div class="remove removeeditImgProject" onclick="removeEditProject(' + i + ')"><i class="fa-solid fa-trash" ></i></div></div></div>');
            });
            i = i + 1;
        },
    }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    $(document).on('click', '.removeeditImgProject', function () {
        const imageCard = $(this).closest('.col-lg-4');
        const index = imageCard.index();
        imageCard.remove();
        const inputFiles = $('#editprojectImg')[0].files;
        const newFiles = Array.from(inputFiles).filter((_, i) => i !== index);
        $('#editprojectImg').prop('files', newFiles);
    });
</script>