@model GlobeWork.Models.User
@{
    ViewBag.Title = "Công việc đã ứng tuyển";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ListApply");
}
<div class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white shadow p-3 rounded">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <div class="title w-100">
                            Công việc đã ứng tuyển
                        </div>
                        <input type="hidden" name="currentUrl" value="@Url.Action("ListApply")"/>
                        <select class="form-control w-25 mr-3" data-filter="" name="type">
                            <option value="1">Việc làm</option>
                            <option value="2">Du học</option>
                        </select>
                        <select class="form-control w-25" data-filter="" name="status">
                            <option value="">Trạng thái</option>
                            <option value="0">Đã ứng tuyển</option>
                            <option value="1">NTD đã xem CV</option>
                            <option value="2">Hồ sơ phù hợp</option>
                            <option value="3">Hồ sơ chưa phù hợp</option>
                        </select>
                    </div>
                    <div id="sort">
                        @Html.Action("GetApply")
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-box bg-white shadow rounded">
                    <div class="media">
                        @if (Model.Avatar != null)
                        {
                            <img src="@Path.Combine("/images/user/", Model.Avatar)" alt="@Model.FullName" class="right-avatar" />
                        }
                        else
                        {  
                          <img src="~/Content/images/avatar-default.jpg" alt="@Model.FullName" class="right-avatar" />
                        }
                        <div class="media-body ml-2">
                            <span>Chào bạn chở lại</span>
                            <div class="name-user">
                                @Model.FullName
                            </div>
                            <div class="account-type vip mt-2">
                                Tài khoản đã xác thực
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        Sort("/User/GetApply")
    </script>
    }