@model GlobeWork.ViewModel.UserLikeViewModel
@using PagedList.Mvc
@using GlobeWork.Utils
@{
    ViewBag.Title = "Tin du học đã lưu";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ListLikeStudy");
}
<div class="container">
    <div class="row py-3">
        <div class="col-xl-8 order-xl-0 order-1">
            <div class="recruitment bg-white shadow">
                @if (Model.Likes.Any())
                {
                    foreach (var item in Model.Likes)
                    {
                        <div class="media mb-3 border">
                            @if (item.StudyAbroad.Image != null)
                            {
                                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.StudyAbroad.Image)" alt="@item.StudyAbroad.Name" class="lazyload study-img" />
                            }
                            else
                            {
                                <img src="~/Content/images/on-image.jpg" alt="@item.StudyAbroad.Name" class="study-img" />
                            }
                            <div class="media-body py-2">
                                <a href="@Url.Action("StudyAbroadDetail", new { url = item.StudyAbroad.Url })" class="study-name">@item.StudyAbroad.Name</a>
                                <div class="study-company">
                                    @item.StudyAbroad.Company.Name
                                </div>
                                <div class="group-info">
                                    <span><i class="fa-solid fa-briefcase-blank"></i> @Html.DisplayFor(a => item.StudyAbroad.WageScholarship)</span>
                                    <span><i class="fa-sharp fa-solid fa-location-dot"></i> @item.StudyAbroad.StudyAbroadCategory.Country.Name</span>
                                    <span><i class="fa-regular fa-calendar-days"></i> @Utils.UpdateDateVn(item.StudyAbroad.CreateDate)</span>
                                    @if (item.StudyAbroad.Hot >= DateTime.Now)
                                    {
                                        <span class="hot"><i class="fa-solid fa-thumbs-up mr-1"></i> Nổi bật</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    if (Model.Likes.PageCount > 1)
                    {
                        <div class="text-center">
                            @Html.PagedListPager(Model.Likes, page => Url.Action("ListLikeStudy", new { page }))
                        </div>
                    }
                }
                else
                {
                    <div class="none-suitable-job__content mt-3 shadow-none">
                        <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                        <span>Bạn chưa lưu tin nào</span>
                    </div>
                }
            </div>
        </div>
        <div class="col-xl-4 d-xl-block d-none">
            <div class="info-box bg-white shadow rounded">
                <div class="media">
                    @if (Model.User.Avatar != null)
                    {
                        <img src="@Path.Combine("/images/user/", Model.User.Avatar)" alt="@Model.User.FullName" class="right-avatar" />
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.User.FullName" class="right-avatar" />
                    }
                    <div class="media-body ml-2">
                        <span>Chào bạn trở lại</span>
                        <div class="name-user">
                            @Model.User.FullName
                        </div>
                        <div class="account-type vip mt-2">
                            Tài khoản đã xác thực
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
