@model GlobeWork.ViewModel.RegisterViewModel
@using GlobeWork.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = "Đăng ký tài khoản";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Register");
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"></div>
    <div class="contents order-2 order-md-1">
        <a href="/">
            @if (config.Image != null)
            {
                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/configs/", config.Image)" alt="@config.Title" class="logo-form lazyload" />
            }
        </a>
        <div class="title-form">
            Chào mừng bạn đến với GlobeWork
        </div>
        <div class="title-form_sub">
            Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng
        </div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "user-form" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.LabelFor(a => a.FullName)
            <div class="form-control control-user">
                <i class="fas fa-user"></i>
                @Html.TextBoxFor(a => a.FullName, new { @placeholder = "Nhập họ tên" })
            </div>
            @Html.ValidationMessageFor(a => a.FullName)
            @Html.LabelFor(a => a.Email, new { @class = "mt-3" })
            <div class="form-control control-user">
                <i class="fas fa-envelope"></i>
                @Html.TextBoxFor(a => a.Email, new { @placeholder = "Nhập email" })
            </div>
            @Html.ValidationMessageFor(a => a.Email)
            @Html.LabelFor(a => a.Password, new { @class = "mt-3" })
            <div class="form-control control-user">
                <i class="fa-solid fa-shield-keyhole"></i>
                @Html.PasswordFor(a => a.Password, new { @placeholder = "Nhập mật khẩu" })
                <div class="type-input">
                    <i class="fas fa-eye"></i>
                </div>
            </div>
            @Html.ValidationMessageFor(a => a.Password)
            @Html.LabelFor(a => a.ConfirmPassword, new { @class = "mt-3" })
            <div class="form-control control-user">
                <i class="fa-solid fa-shield-keyhole"></i>
                @Html.PasswordFor(a => a.ConfirmPassword, new { @placeholder = "Nhập lại mật khẩu" })
                <div class="type-input">
                    <i class="fas fa-eye"></i>
                </div>
            </div>
            @Html.ValidationMessageFor(a => a.ConfirmPassword)
            <label class="checkbox-wrapper-42 agreement-login my-3">
                <input id="cbx-42" type="checkbox" checked />
                <label class="cbx cbx-custom" for="cbx-42"></label>
                <label class="lbl font" for="cbx-42">Tôi đã đọc và đồng ý với <a href="" class="font-size-12">Điều khoản dịch vụ</a> và <a href="#" class="font-size-12">Chính sách bảo mật</a> của Globework</label>
            </label>
            <button type="submit" class="submit-form btn btn-block form-group">
                Đăng ký
            </button>
            <div class="text-center or">
                Hoặc đăng nhập bằng
            </div>
            <div class="login-social-list">
                <a href="@Url.Action("LoginGoogle")" class="google"><i class="fa-brands fa-google mr-2"></i>Google</a>
                <a href="@ViewBag.FacebookUrl" class="facebook"><i class="fa-brands fa-facebook mr-2"></i>Facebook</a>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin mr-2"></i>Linkedin</a>
            </div>
            <label class="checkbox-wrapper-42 agreement-login mt-3 align-items-start">
                <input id="cbx-43" type="checkbox" checked />
                <label class="cbx" for="cbx-43"></label>
                <label class="lbl" for="cbx-43">Bằng việc đăng nhập bằng tài khoản mạng xã hội, tôi đã đọc và đồng ý với <a href="">Điều khoản dịch vụ</a> và <a href="#">Chính sách bảo mật</a> của Globework</label>
            </label>
        }
        <div class="text-center font-size-12">
            Bạn đã có tài khoản? <a href="@Url.Action("Login", "User")" class="text-success">Đăng nhập ngay</a>
        </div>
        <hr />
        <div class="text-center font-size-12">
            <strong> Bạn gặp khó khăn khi tạo tài khoản?</strong>
            <br />
            Vui lòng gọi tới số <a href="tel:@config.Hotline" class="text-success">@config.Hotline</a> (giờ hành chính).
        </div>
    </div>
</div>
<div class="Popup">
    <div class="popupuser">
        <div class="text-center titlepPop-up">
            <span>Chào bạn,</span>
            Bạn hãy dành ra vài giây để xác nhận thông tin dưới đây nhé!
        </div>
        <hr />
        <span class="titlepPop-up-sub">
            Để tối ưu tốt nhất cho trải nghiệm của bạn với TopCV,
            vui lòng lựa chọn nhóm phù hợp nhất với bạn.
        </span>
        <div class="row mt-4">
            <div class="col-6 text-center">
                <img src="~/Content/images/bussiness.efbec2d.png" alt="Nhà tuyển dụng" class="img-fluid" />
                <a href="@Url.Action("Employer" ,"Employer")" class="popupBtn">Tôi là nhà tuyển dụng</a>
            </div>
            <div class="col-6 text-center">
                <img src="~/Content/images/student.c1c39ee.png" alt="Ứng viên" class="img-fluid" />
                <a href="javascripts:;" onclick="ClosePopUp()" class="popupBtn">Tôi là ứng viên tìm việc</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        User();
        var popup = $(".Popup");
        if (sessionStorage.getItem("popupClosed") == null || sessionStorage.getItem("popupClosed") == false) {
            popup.addClass("active");
        } else {
            popup.removeClass("active");

        }

        function ClosePopUp() {
            $(".Popup").removeClass("active");
            sessionStorage.setItem("popupClosed", true);
        }
    </script>
}