@model GlobeWork.ViewModel.SetPasswordSocial
@using GlobeWork.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = "Đặt mật khẩu";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("SetPassword");
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"></div>
    <div class="contents order-2 order-md-1">
        <a href="/">
            @if (config.Image != null)
            {
                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/configs/", config.Image)" alt="@config.Title" class="logo-form lazyload" />
            }
        </a>
        <div class="title-form">
            Đặt mật khẩu
        </div>
        <div class="title-form_sub">
            Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng
        </div>
        @using (Html.BeginForm("SetPassword", "User", FormMethod.Post, new { @class = "user-form" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.Id)
            @Html.LabelFor(a => a.Password)
            <div class="form-control control-user">
                <i class="fa-solid fa-shield-keyhole"></i>
                @Html.PasswordFor(a => a.Password, new { @placeholder = "Nhập mật khẩu" })
                <div class="type-input">
                    <i class="fas fa-eye"></i>
                </div>
            </div>
            @Html.ValidationMessageFor(a => a.Password)
            <button type="submit" class="submit-form btn btn-block form-group mt-3">
              Đặt mật khẩu
            </button>
        }
    </div>
</div>
@section scripts{
    <script>
        User();
    </script>
}