@model GlobeWork.ViewModel.AdviseViewModel
<div class="form-group">
    <label>
        Họ và tên
    </label>
    <input type="text" name="Advise.CustomerInfo.Fullname" @if (Model.User != null) { @Html.Raw("value='" + Model.User.FullName + "'") } class="form-control" />
    @Html.ValidationMessageFor(a => a.Advise.CustomerInfo.Fullname)
</div>
<div class="form-group">
    <label>
        Email
    </label>
    <input type="email" name="Advise.CustomerInfo.Email" @if (Model.User != null) { @Html.Raw("value='" + Model.User.Email + "'") } class="form-control" />
    @Html.ValidationMessageFor(a => a.Advise.CustomerInfo.Email)
</div>
<div class="form-group">
    <label>
        Số điện thoại
    </label>
    <input type="text" name="Advise.CustomerInfo.Mobile" @if (Model.User != null) { @Html.Raw("value='" + Model.User.Phone + "'") } class="form-control" />
    @Html.ValidationMessageFor(a => a.Advise.CustomerInfo.Mobile)
</div>
<div class="form-group">
    <label>
        Địa chỉ
    </label>
    <input type="text" name="Advise.CustomerInfo.Address" @if (Model.User != null) { @Html.Raw("value='" + Model.User.Address + "'") } class="form-control" />
    @Html.ValidationMessageFor(a => a.Advise.CustomerInfo.Address)
</div>
<div class="form-group">
    @Html.LabelFor(a => a.Advise.Body)
    @Html.TextAreaFor(a => a.Advise.Body, new { @class = "form-control text-cv", @placeholder = "Nội dung" })
</div>