@model GlobeWork.ViewModel.AdviseViewModel
<div class="form-group">
    <label>
        Họ và tên
    </label>
    <input type="text"  value="@Model.User.FullName" disabled class="form-control" />
</div>
<div class="form-group">
    <label>
        Email
    </label>
    <input type="text"  value="@Model.User.Email" disabled class="form-control" />
</div>
<div class="form-group">
    <label>
        Số điện thoại
    </label>
    <input type="text" value="@Model.User.Phone" disabled class="form-control" />
</div>
<div class="form-group">
    @Html.LabelFor(a => a.Advise.Body)
    @Html.TextAreaFor(a => a.Advise.Body, new { @class = "form-control text-cv", @placeholder = "Nội dung" })
</div>