@model GlobeWork.ViewModel.DetailCompanyViewModel
@using GlobeWork.Utils
@{
    ViewBag.Title = Model.Company.Name;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("JobDetail", new { url = Model.Company.Url });
    if (Model.Company.Avatar != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/company/", Model.Company.Avatar);
    }
    var email = ViewContext.RouteData.Values["Email"].ToString();
}

@functions {
    public string IsLinkActive(string path)
    {
        string currentPath = Context.Request.Path;
        return currentPath.Equals(path, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}
<div class="bg-light py-4">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                @if (Model.Company.Cover != null)
                {
                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Company.Cover)" alt="@Model.Company.Name" class="lazyload">
                }
                else
                {
                    <img src="~/Content/images/cover-null.png" alt="@Model.Company.Name" class="lazyload">
                }
            </div>
            <div class="company-logo">
                <div class="company-image-logo shadow">
                    @if (Model.Company.Avatar != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Company.Avatar)" alt="@Model.Company.Name" class="img-responsive lazyload">
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.Company.Name" class="img-responsive lazyload">
                    }
                </div>
            </div>
            <div class="company-detail-overview employer-detail">
                <div class="box-detail">
                    <h1 class="company-detail-name text-dark">@Model.Company.Name <span class="tag-name">@Model.Company.City.Name</span></h1>
                    <div class="company-subdetail">
                        <a href="@Model.Company.WebsiteUrl" target="_blank">
                            <i class="fa-sharp fa-solid fa-globe"></i>
                            @if (Model.Company.WebsiteUrl != null)
                            {
                                @Model.Company.WebsiteUrl
                            }
                            else
                            {
                                @:Đang cập nhật
                            }
                        </a>
                        <a href="javascripts:;"><i class="fa-solid fa-buildings"></i>@Model.Company.CompanySize</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>@Model.Company.JobPosts.Count() công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    @if (email == "")
                    {
                        <a href="@Url.Action("Login","User")" class="btn btn-follow">
                            <i class="fa-light fa-plus"></i> Theo dõi công ty
                        </a>
                    }
                    else
                    {
                        if (Model.Follows.Any())
                        {
                            <a href="#" class="btn btn-follow unfollow" data-company-id="@Model.Company.EmployerId">
                                Bỏ theo dõi công ty
                            </a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-follow follow" data-company-id="@Model.Company.EmployerId">
                                Theo dõi công ty
                            </a>
                        }
                    }
                </div>
                <div class="navs-employer">
                    <a href="@Url.Action("Employer" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("Employer", new {url = Model.Company.Url} )))">Trang chủ</a>
                    <a href="@Url.Action("Recruitment" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("Recruitment")))">Tin tuyển dụng</a>
                    <a href="@Url.Action("StudyAbroadCom" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("Recruitment")))">Tin du học</a>
                </div>
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-4">
                <div class="employer-left">
                    <div class="employer-title">Giới thiệu</div>
                    @if (Model.Company.Introduct != null)
                    {
                        <div class="intro">
                            <div class="employer-intro">
                                @Html.Raw(Model.Company.Introduct)
                            </div>
                            <div class="show-more">
                                <span class="icon">Xem thêm</span> <i class="fa-sharp fa-light fa-chevron-down"></i>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="none-suitable-job__content shadow-none">
                            <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                            <span>Chưa có thông tin công ty</span>
                        </div>
                    }
                    <hr />
                    <div class="media mb-4">
                        <div class="info-employ">
                            <i class="fa-sharp fa-solid fa-medal"></i>
                        </div>
                        <div class="media-body ml-3">
                            <div class="year">
                                @Html.DisplayFor(a => Model.Company.EstablishmentDate)
                            </div>
                            <div class="info-employ-sub">
                                Năm thành lập công ty
                            </div>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <div class="info-employ">
                            <i class="fa-solid fa-buildings"></i>
                        </div>
                        <div class="media-body ml-3">
                            <div class="year">
                                @Model.Company.CompanySize
                            </div>
                            <div class="info-employ-sub">
                                Quy mô công ty
                            </div>
                        </div>
                    </div>
                    <div class="media mb-4">
                        <div class="info-employ">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div class="media-body ml-3">
                            <div class="year">
                                @Model.Company.Age
                            </div>
                            <div class="info-employ-sub">
                                Độ tuổi trung bình
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="employer-title">Video giới thiệu</div>
                    <div class="video">
                        @if (Model.Company.VideoYoutube != null)
                        {
                            @Html.Raw(Model.Company.VideoYoutube)
                        }
                    </div>

                </div>
                <div class="employer-left mt-3">
                    <div class="employer-title">Liên hệ</div>
                    <div class="media align-items-center">
                        <div class="contact-img overflow-hidden">
                            @if (Model.Company.Avatar != null)
                            {
                                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Company.Avatar)" alt="@Model.Company.Name" class="lazyload" />
                            }
                            else
                            {
                                <img src="~/Content/images/avatar-default.jpg" alt="@Model.Company.Name" class="lazyload" />
                            }
                        </div>
                        <div class="media-body company-contact-name">
                            @Model.Company.Name
                        </div>
                    </div>
                    <hr />
                    <ul class="ul-reset company-contact">
                        <li>
                            <a href="tel:@Model.Company.Phone">
                                <i class="fa-solid fa-phone"></i>
                                @(Model.Company.Phone != null ? Model.Company.Phone : "Đang cập nhật")
                            </a>
                        </li>
                        <li>
                            <a href="@Model.Company.WebsiteUrl" target="_blank">
                                <i class="fa-sharp fa-solid fa-globe"></i>
                                @(Model.Company.WebsiteUrl != null ? Model.Company.WebsiteUrl : "Đang cập nhật")
                            </a>
                        </li>
                        <li>
                            <a href="" class="d-flex">
                                <i class="fa-solid fa-location-dot"></i>
                                @(Model.Company.Address != null ? Model.Company.Address : "Đang cập nhật")
                            </a>
                        </li>
                    </ul>
                    <div class="employer-title">Địa chỉ trụ sở chính </div>
                    <div class="embed-responsive embed-responsive-21by9 mt-3">
                        @if (Model.Company.GoogleMap != null)
                        {
                            @Html.Raw(Model.Company.GoogleMap)
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="employer-right">
                    <div class="employer-title">Tin tuyển dụng</div>
                    <form action="@Url.Action("Employer")" class="form-row employ-form">
                        @Html.HiddenFor(a => a.Url)
                        @Html.TextBoxFor(a => a.Name, new { @placeholder = "Nhập từ khóa", @class = "bg-white" })
                        <button type="submit">
                            <i class="far fa-search"></i>
                            TÌM KIẾM
                        </button>
                    </form>
                    @if (Model.JobPosts.Any())
                    {
                        <div class="job-q mb-3">
                            Hiện tại đang tuyển dụng <span>@Model.Company.JobPosts.Count()</span> vị trí
                        </div>
                        foreach (var item in Model.JobPosts)
                        {
                            <div class="job bg-white detail-job @if (item.Hot != null && item.Hot > DateTime.Now) { @Html.Raw("active") } ">
                                <div class="media ">
                                    <div>
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-name" data-tooltip="@item.Name" data-tooltip-position="top">@item.Name</a>
                                        <div class="company-name">
                                            @item.Company.Name
                                        </div>
                                    </div>
                                    <div class="media-body time-deadline text-right">
                                        @if (item.ExpirationDate != null)
                                        {
                                            if (item.ExpirationDate > DateTime.Now)
                                            {
                                                @:Còn <strong>@Utils.DateCountDown(item.ExpirationDate)</strong> để ứng tuyển
                                            }
                                            else
                                            {
                                                @:Hết thời gian ứng tuyển
                                            }
                                        }
                                        else
                                        {
                                            @:Luôn tuyển
                                        }
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <div class="w-75">
                                        <span class="info-job price">@Html.DisplayFor(a => item.Wages)</span>
                                        <span class="info-job">
                                            @if (item.Cities.Any())
                                            {
                                                if (item.Cities.Count > 1)
                                                {

                                                    <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                        @item.Cities.Count Thành phố
                                                    </span>
                                                }
                                                else
                                                {
                                                    foreach (var city in item.Cities.Take(1))
                                                    {
                                                        <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                            @city.Name
                                                        </span>
                                                    }
                                                }
                                            }
                                        </span>
                                    </div>
                                    @if (email == "")
                                    {
                                        <a href="@Url.Action("Login", "User")" class="heart"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                    else
                                    {
                                        if (Model.Likes.Any(a => a.JobId == item.Id))
                                        {
                                            <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                        }
                                        else
                                        {
                                            <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        <a href="@Url.Action("Recruitment", new {url = Model.Company.Url})" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>

                    }
                    else
                    {
                        <div class="none-suitable-job__content shadow-none">
                            <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                            <span>Chưa tìm thấy việc làm phù hợp với yêu cầu của bạn</span>
                        </div>
                    }
                </div>
                <div class="employer-right mt-3">
                    <div class="employer-title">Sản phẩm và dịch vụ</div>
                    @if (Model.Company.Product != null)
                    {
                        <div class="content-detail">
                            @Html.Raw(Model.Company.Product)
                        </div>
                    }
                    else
                    {
                        <div class="none-suitable-job__content shadow-none">
                            <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                            <span>Chưa có thông tin sản phẩm và dịch vụ</span>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*<div class="employer-left mt-3">
                <div class="employer-title">Chính sách và phúc lợi</div>
                <div class="policy">
                    @for (var i = 0; i < 4; i++)
                    {
                        <div class="policy-item card">
                            <img src="~/Content/images/duhoc.jpg" alt="Alternate Text" />
                            <div class="card-body p-0">
                                <div class="policy-name">Chính sách phát triển nhân lực</div>
                                <div class="policy-des">
                                    Về Giáo Dục: Authentic Education Hub được sáng lập bởi các chuyên gia giáo dục và kỹ sư công nghệ thông tin đầy đam mê, có chung mục tiêu là nâng cao chất lượng giáo dục. Chúng tôi tin rằng công nghệ trí tuệ nhân tạo tiên tiến có khả năng cách mạng hóa lĩnh vực giáo dục.
                                    Về Giáo Dục: Authentic Education Hub được sáng lập bởi các chuyên gia giáo dục và kỹ sư công nghệ thông tin đầy đam mê, có chung mục tiêu là nâng cao chất lượng giáo dục. Chúng tôi tin rằng công nghệ trí tuệ nhân tạo tiên tiến có khả năng cách mạng hóa lĩnh vực giáo dục.
                                    Về Giáo Dục: Authentic Education Hub được sáng lập bởi các chuyên gia giáo dục và kỹ sư công nghệ thông tin đầy đam mê, có chung mục tiêu là nâng cao chất lượng giáo dục. Chúng tôi tin rằng công nghệ trí tuệ nhân tạo tiên tiến có khả năng cách mạng hóa lĩnh vực giáo dục.
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>*@
    </div>
</div>
@section scripts{
    <script>
        Details();
        ActionDetail();
        QickLike();
    </script>
} 