@model GlobeWork.ViewModel.HeaderViewModel
@using GlobeWork.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    var FullName = ViewContext.RouteData.Values["FullName"].ToString();
    var id = Convert.ToInt32(ViewContext.RouteData.Values["Id"]);
    var avatar = ViewContext.RouteData.Values["Avatar"].ToString();
    var url = ViewContext.RouteData.Values["Url"].ToString();
    var avatarSocial = ViewContext.RouteData.Values["AvatarSocial"].ToString();
    var email = ViewContext.RouteData.Values["Email"].ToString();
}
<header class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-8 d-flex align-items-center justify-content-between">
                <a href="/">
                    @if (config.Image != null)
                    {
                        <img src="@Path.Combine("/images/configs/", config.Image)" alt="Logo" class="logo" />
                    }
                </a>
                <ul class="ul-reset menu-nav">
                    <li>
                        <a href="#">Giới thiệu</a>
                        @if (Model.Articles.Any())
                        {
                            <ul class="sub-menu">
                                @foreach (var item in Model.Articles)
                                {
                                    <li>
                                        <a href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                    <li>
                        <a href="@Url.Action("Job")">Việc làm</a>
                        <ul class="sub-menu shadow">
                            <li>
                                <a href="@Url.Action("Job")">
                                    Tìm việc làm (search)
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("JobHot")">
                                    Việc làm hot
                                </a>
                            </li>
                            @foreach (var item in Model.Countries)
                            {
                                <li>
                                    <a href="@Url.Action("JobInCountruy", new {countruyId = item.Id})">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("StudyAbroad")">Du học</a>
                        <ul class="box-menu shadow">
                            <li class="row">
                                @foreach (var item in Model.StudyAbroadCategories.Where(a => a.ParentId == null))
                                {
                                    <div class="col-lg-3 mb-3">
                                        <a href="@Url.Action("StudyAbroadCategory", new {url = item.Url})" class="studyabroadcategory-name">
                                            @item.CategoryName
                                            @if (item.Image != null)
                                            {
                                                <img src="@Path.Combine("/images/category/", item.Image)" class="flag" alt="@item.CategoryName" />
                                            }
                                        </a>
                                        <div class="child-menu mt-2">
                                            @foreach (var child in Model.StudyAbroadCategories.Where(a => a.ParentId == item.Id))
                                            {
                                                <a href="@Url.Action("StudyAbroadCategory", new {url = child.Url})">@child.CategoryName</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("ListCompany")">Công ty</a>
                        <ul class="sub-menu shadow">
                            <li>
                                <a href="@Url.Action("ListCompany")">
                                    Danh sách công ty
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CompanyTop")">
                                    Top công ty
                                </a>
                            </li>
                        </ul>
                    </li>
                    @if (id == 0)
                    {
                        <li><a href="@Url.Action("Login" , "User")">Hồ sơ CV</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("UserProfile", "Home" , new {url = url })">Hồ sơ CV</a></li>
                    }
                    <li>
                        <a href="@Url.Action("StudyAbroadHot")">Săn học bổng</a>
                        @if (Model.Scholarship.Any())
                        {
                            <ul class="sub-menu shadow">
                                @foreach (var item in Model.Scholarship)
                                {
                                    <li>
                                        <a href="@Url.Action("Hunting" , new {url = item.Url})">
                                            @item.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                    <li><a href="@Url.Action("Contact")">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-2 col-lg-4 d-flex align-items-center justify-content-end position-relative">
                @if (id == 0)
                {
                    <div class="d-flex align-items-center h-100 justify-content-end" style="gap:10px;">
                        <a href="@Url.Action("Register", "User")" class="user-action">Đăng ký</a>
                        <a href="@Url.Action("Login", "User")" class="user-action opacity-1">Đăng nhập</a>
                        <a href="@Url.Action("EmployerLogin", "Employer")" class="user-action opacity-1 bg-dark text-white">Đăng tuyển</a>
                    </div>
                }
                else
                {
                    @Html.Action("Notify", "User")
            <div class="navbar-right__item group media">
                @if (avatar != "")
                {
                    <img src="@Path.Combine("/images/user/", avatar)" alt="@FullName" />
                }
                else if (avatarSocial != "")
                {
                    <img src="@avatarSocial" alt="@FullName" />
                }
                else
                {
                    <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
                }
                <div class="media-body">
                    @FullName
                </div>
                <div class="navbar__item__dropdown-menu shadow">
                    <div class="media align-items-center">
                        @if (avatar != "")
                        {
                            <img src="@Path.Combine("/images/user/", avatar)" alt="@FullName" />
                        }
                        else if (avatarSocial != "")
                        {
                            <img src="@avatarSocial" alt="@FullName" />
                        }
                        else
                        {
                            <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
                        }
                        <div class="media-body">
                            <span class="name">@FullName</span>
                            <div class="email">
                                @email
                            </div>
                        </div>
                    </div>
                    <hr />
                    <a href="@Url.Action("UserProfile", "Home" , new {url = url })" class="navbar-btn">
                        <i class="icon fa-regular fa-pen-to-square"></i>
                        Thông tin cá nhân
                    </a>
                    <a href="@Url.Action("ListApply", "User")" class="navbar-btn">
                        <i class="fa-regular fa-handshake"></i>
                        Danh sách đã ứng tuyển
                    </a>
                    <a href="@Url.Action("ListFollow", "User")" class="navbar-btn">
                        <i class="fal fa-briefcase"></i>
                        Công ty đã theo dõi
                    </a>
                    <a href="@Url.Action("ListLike", "User")" class="navbar-btn">
                        <i class="fa-regular fa-heart"></i>
                        Việc làm đã lưu
                    </a>
                    <a href="@Url.Action("ListLikeStudy", "User")" class="navbar-btn">
                        <i class="fa-light fa-plane-departure"></i>
                        Tin du học đã lưu
                    </a>
                    <a href="@Url.Action("Logout", "User")" class="navbar-btn">
                        <i class="icon fa-regular fa-arrow-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </div>
            </div>
                }
                <div class="toggle-icon">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="box-menu-repon">
    <div class="container">
        <small class="mb-2 d-block">Dành cho ứng viên</small>
        <ul class="ul-reset ul-repon">
            @if (id > 0)
            {
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="media align-items-center">
                            @if (avatar != "")
                            {
                                <img src="@Path.Combine("/images/user/", avatar)" alt="@FullName" class="fix-size-img"/>
                            }
                            else if (avatarSocial != "")
                            {
                                <img src="@avatarSocial" alt="@FullName" class="fix-size-img"/>
                            }
                            else
                            {
                                <img src="~/Content/images/avatar-default.jpg" alt="@FullName" class="fix-size-img"/>
                            }
                            <div class="media-body">
                                <span class="name-user-mb">@FullName</span>
                                <div class="email-user-mb">
                                    @email
                                </div>
                            </div>
                        </div>
                        @if (Model.Articles.Any())
                        {
                            <div class="icon-reponsive">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        }
                    </div>
                    @if (Model.Articles.Any())
                    {
                        <ul class="ul-reset ul-reponsive">
                            <li>
                                <a href="@Url.Action("UserProfile", "Home" , new {url = url })" class="link-user">
                                    <i class="icon fa-regular fa-pen-to-square"></i>
                                    Thông tin cá nhân
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListApply", "User")" class="link-user">
                                    <i class="fa-regular fa-handshake"></i>
                                    Danh sách đã ứng tuyển
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListFollow", "User")" class="link-user">
                                    <i class="fal fa-briefcase"></i>
                                    Công ty đã theo dõi
                                </a>

                            </li>
                            <li>
                                <a href="@Url.Action("ListLike", "User")" class="link-user">
                                    <i class="fa-regular fa-heart"></i>
                                    Việc làm đã lưu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListLikeStudy", "User")" class="link-user">
                                    <i class="fa-light fa-plane-departure"></i>
                                    Tin du học đã lưu
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout", "User")" class="link-user">
                                    <i class="icon fa-regular fa-arrow-right-from-bracket"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    }
                </li>
            }
            else
            {
                <li>
                    <div class="d-flex justify-content-between">
                        <a href="@Url.Action("Login", "User")" class="link-repon">Đăng nhập</a>
                    </div>
                </li>
                <li>
                    <div class="d-flex justify-content-between">
                        <a href="@Url.Action("Register","User")" class="link-repon">Đăng kí tài khoản mới</a>
                    </div>
                </li>
            }
            <li>
                <div class="d-flex justify-content-between">
                    <a href="javascripts:;" class="link-repon">Giới thiệu</a>
                    @if (Model.Articles.Any())
                    {
                        <div class="icon-reponsive">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    }
                </div>
                @if (Model.Articles.Any())
                {
                    <ul class="ul-reset ul-reponsive">
                        @foreach (var item in Model.Articles)
                        {
                            <li>
                                <a href="@Url.Action("ArticleDetail", new {url = item.Url})">@item.Subject</a>
                            </li>
                        }
                    </ul>
                }
            </li>
            <li>
                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Job")" class="link-repon">Việc làm</a>
                    <div class="icon-reponsive">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <ul class="ul-reset ul-reponsive">
                    <li>
                        <a href="@Url.Action("Job")">
                            Tìm việc làm (search)
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("JobHot")">
                            Việc làm hot
                        </a>
                    </li>
                    @foreach (var item in Model.Countries)
                    {
                        <li>
                            <a href="@Url.Action("JobInCountruy", new {countruyId = item.Id})">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
            <li>
                <div class="d-flex justify-content-between">
                    <a class="link-repon" href="@Url.Action("StudyAbroad")">Du học</a>
                    <div class="icon-reponsive">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <ul class="ul-reset ul-reponsive">
                    @foreach (var item in Model.StudyAbroadCategories.Where(a => a.ParentId == null))
                    {
                        <li class="d-flex justify-content-between">
                            <a class="link-repon" href="@Url.Action("StudyAbroadCategory", new {url = item.Url})">
                                @if (item.Image != null)
                                {
                                    <img src="@Path.Combine("/images/category/", item.Image)" class="flag mr-1" alt="@item.CategoryName" />
                                }
                                @item.CategoryName
                            </a>
                            @if (Model.StudyAbroadCategories.Any(a => a.ParentId == item.Id))
                            {
                                <div class="icon-study">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            }
                        </li>
                        if (Model.StudyAbroadCategories.Any(a => a.ParentId == item.Id))
                        {
                            <li class="study-repon">
                                <ul class="ul-reset">
                                    @foreach (var child in Model.StudyAbroadCategories.Where(a => a.ParentId == item.Id))
                                    {
                                        <li class="mb-0">
                                            <a href="@Url.Action("StudyAbroadCategory", new {url = child.Url})">@child.CategoryName</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }

                    }
                </ul>
            </li>
            <li>
                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("ListCompany")" class="link-repon">Công ty</a>
                    <div class="icon-reponsive">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <ul class="ul-reset ul-reponsive">
                    <li>
                        <a href="@Url.Action("ListCompany")">
                            Danh sách công ty
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CompanyTop")">
                            Top công ty
                        </a>
                    </li>
                </ul>
            </li>
            @if (id == 0)
            {
                <li>
                    <div class="d-flex justify-content-between">
                        <a href="@Url.Action("Login" , "User")" class="link-repon">Hồ sơ CV</a>
                    </div>
                </li>
            }
            else
            {
                <li>
                    <div class="d-flex justify-content-between">
                        <a href="@Url.Action("UserProfile", "Home" , new {url = url })" class="link-repon">Hồ sơ CV</a>
                    </div>
                </li>
            }
        <li>
            <div class="d-flex justify-content-between">
                <a href="@Url.Action("StudyAbroadHot")" class="link-repon">Săn học bổng</a>
                <div class="icon-reponsive">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
            @if (Model.Scholarship.Any())
            {
                <ul class="ul-reset ul-reponsive">
                    @foreach (var item in Model.Scholarship)
                    {
                        <li>
                            <a href="@Url.Action("Hunting" , new {url = item.Url})">
                                @item.CategoryName
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
            <li>
                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Contact")" class="link-repon">Liên hệ</a>
                </div>
            </li>
        </ul>
        <small class="my-2 d-block">Dành cho nhà tuyển dụng</small>
        <ul class="ul-reset ul-repon">
            <li>
                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("EmployerLogin", "Employer")" class="link-repon">Đăng tuyển</a>
                </div>
            </li>
        </ul>
    </div>
</div>