@{
    var FullName = ViewContext.RouteData.Values["FullName"].ToString();
    var id = ViewContext.RouteData.Values["Id"].ToString();
    var avatar = ViewContext.RouteData.Values["Avatar"].ToString();
    var email = ViewContext.RouteData.Values["Email"].ToString();
}
<header class="shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex align-items-center justify-content-between">
                <a href="/">
                    <img src="~/Content/images/z5108183533913_f5a32e9f0440e3b6d60d9c260e3e82c8.jpg" alt="Logo" class="logo" />
                </a>
                <ul class="ul-reset menu-nav">
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Việc làm</a></li>
                    <li><a href="">Du học</a></li>
                    <li><a href="">Doanh nghiệp</a></li>
                    <li><a href="">Hồ sơ CV</a></li>
                    <li><a href="">Săn học bổng</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-end position-relative">
                @if (id == "")
                {
                    <div class="d-flex align-items-center h-100 justify-content-end" style="gap:10px;">
                        <a href="@Url.Action("Register", "User")" class="user-action">Đăng ký</a>
                        <a href="@Url.Action("Login", "User")" class="user-action opacity-1">Đăng nhập</a>
                        <a href="@Url.Action("EmployerLogin", "Employer")" class="user-action opacity-1 bg-dark text-white">Đăng tuyển</a>
                    </div>
                }
                else
                {
                    <div class="navbar-right__item group media">
                        @if (avatar == "")
                        {
                            <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
                        }
                        else
                        {
                            <img src="@Path.Combine("/images/user/", avatar)" alt="@FullName" />
                        }
                        <div class="media-body">
                            @FullName
                        </div>
                        <div class="navbar__item__dropdown-menu">
                            <div class="media align-items-center">
                                @if (avatar == "")
                                {
                                    <img src="~/Content/images/avatar-default.jpg" alt="@FullName" />
                                }
                                else
                                {
                                    <img src="@Path.Combine("/images/user/", avatar)" alt="@FullName" />
                                }
                                <div class="media-body">
                                    <span class="name">@FullName</span>
                                    <div class="email">
                                        @email
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <a href="@Url.Action("UserProfile", "User")" class="navbar-btn">
                                <i class="icon fa-regular fa-pen-to-square"></i>
                                Thông tin cá nhân
                            </a>
                            <a href="" class="navbar-btn">
                                <i class="icon fa-regular fa-lock"></i>
                                Đổi mật khẩu
                            </a>
                            <a href="@Url.Action("Logout", "User")" class="navbar-btn">
                                <i class="icon fa-regular fa-arrow-right-from-bracket"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</header>   