@model GlobeWork.ViewModel.JobHotViewModel
@using PagedList.Mvc
@using GlobeWork.Utils
@{
    ViewBag.Title = "Việc làm tốt nhất";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("JobHot");
    var date = DateTime.Now;
    var email = ViewContext.RouteData.Values["Email"].ToString();
}
<section class="banner-job pb-0">
    <div class="container">
        @foreach (var item in Model.Items.Where(a => a.Sort == 2))
        {
            <div class="job-title">
               @item.Title
            </div>
            <div class="job-sub">
               @item.Description
            </div>
        }
        <form id="frm-search-job" action="@Url.Action("Search")">
            <div class="group-search">
                <div class=" item-search">
                    <input type="text" name="keyword" class="w-100 form-controlui-autocomplete-input" placeholder="Vị trí tuyển dụng" autocomplete="off" required />
                </div>
                <div class="search-city border-left">
                    <select class="select2" name="cityId">
                        <option value="">Khu vực Tỉnh / Thành phố</option>
                        @foreach (var item in Model.Cities)
                        {
                            <option @if (item.Id == Model.CityId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location mx-2"></i>
                </div>
            </div>
            <div class="group-search">
                <select class="select2 select-nn" name="careerId">
                    <option value="">Ngành nghề</option>
                    @foreach (var item in Model.Careers)
                    {
                        <option @if (item.Id == Model.CareerId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="group-search">
                <select class="select2 select-nn" name="wage">
                    <option value="">Tất cả mức lương</option>
                    @foreach (var item in Model.Wages)
                    {
                        <option @if (item.Key == Model.Wage) { @Html.Raw("selected") } value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-block filter-btn"><i class="far fa-search"></i>Tìm kiếm</button>
        </form>
        <div class="box-work-market">
            <div class="box-work-market__item">
                <span class="item-label">
                    Vị trí chờ bạn khám phá
                </span>
                <span class="number-job-new-today counter">27.844</span>
            </div>
            <div class="box-work-market__item">
                <span class="item-label">Việc làm mới nhất</span>
                <span class="number-job-new-today counter">2.064</span>
            </div>
            <div class="box-work-market__item">
                <span class="item-label">Cập nhật lúc:</span>
                <span class="number-job-new-today">@DateTime.Now</span>
            </div>
        </div>
        <div class="list-bannerjob mt-3">
            @foreach (var item in Model.Banners)
            {
                <a href="@item.Url">
                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="lazyload" />
                </a>
            }
        </div>
    </div>
</section>
<section class="py-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="title">
                Việc làm tốt nhất
            </h2>
            <a href="@Url.Action("JobHot")" class="view-all">Xem tất cả</a>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-3">
            <div class="sort-contruy w-25 form-control border">
                <span>
                    <i class="fa-solid fa-bars-filter"></i>
                    Lọc theo :
                </span>
                <select class="form-control ouline-none filter-select">
                    <option value="1">Địa điểm</option>
                    <option value="2">Mức lương</option>
                    <option value="3">Kinh nghiệm</option>
                    <option value="4">Ngành nghề</option>
                </select>
            </div>
            @Html.Action("GetFilter")
        </div>
        <div id="filter">
            @Html.Action("GetJob")
        </div>
    </div>
</section>
<div class="container">
    <div class="py-4">
        <h2 class="title">
            Top ngành nghề nổi bật
        </h2>
        <div class="list-career">
            @foreach (var item in Model.CareerHot)
            {
                <a href="@Url.Action("JobCategory" , new {url = item.Code})" class="card card-career border-0">
                    <div class="thuml-img">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/careers/", item.Image)" alt="@item.Name" class="lazyload" />
                        }
                    </div>
                    <div class="card-body text-center">
                        <div class="career-name">
                            @item.Name
                        </div>
                        <div class="career-quantity">
                            @item.Posts.Count() việc làm
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<section class="bg-light py-4">
    <div class="container">
        <h2 class="title">
            Top công ty hàng đầu
        </h2>
        <div class="list-support arrows-cusotm">
            @for (var i = 0; i < 6; i++)
            {
                <div class="card career-top">
                    <a href="" class="thuml">
                        <img src="~/Content/images/duhoc.jpg" alt="Alternate Text" class="lazyload" />
                        <div class="tag-i">
                            TOP 10
                        </div>
                    </a>
                    <div class="card-body p-3">
                        <a href="#" class="career-top-name">công ty CP vật tư thiết bị công trình minh đức công ty CP vật tư thiết bị công trình minh đức</a>
                        <div class="box-rating" style="gap:10px;">
                            <div class="rating">
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star active"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            / 322 Phản hồi
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/jquery.countup.min.js"></script>
    <script>
        $('.select2').select2();
        $('.counter').countUp({
            'time': 2000,
            'delay': 10
        });
        HomeJs();
    </script>
}