@model GlobeWork.ViewModel.JobDetailViewModel
@using Helpers;
@using GlobeWork.Utils
@{
    ViewBag.Title = Model.Job.Name;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("JobDetail", new { url = Model.Job.Url });
    if (Model.Job.Company.Avatar != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/company/", Model.Job.Company.Avatar);
    }
    var id = Convert.ToInt32(ViewContext.RouteData.Values["Id"]);
    var email = ViewContext.RouteData.Values["Email"].ToString();
    var request = Request.Url;
}
<style>
    header {
        position: initial;
    }
</style>
<div class="bg-light py-4">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                @if (Model.Job.Company.Cover != null)
                {
                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Job.Company.Cover)" alt="@Model.Job.Company.Name" class="lazyload">
                }
                else
                {
                    <img src="~/Content/images/cover-null.png" alt="@Model.Job.Company.Name" class="lazyload">
                }
            </div>
            <div class="company-logo">
                <div class="company-image-logo">
                    @if (Model.Job.Company.Avatar != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Job.Company.Avatar)" alt="@Model.Job.Company.Name" class="img-responsive lazyload">
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.Job.Company.Name" class="img-responsive lazyload">
                    }
                </div>
            </div>
            <div class="company-detail-overview">
                <div class="box-detail">
                    <h2 class="company-detail-name "><span class="nam-compa">@Model.Job.Company.Name</span> <span class="tag-name">@Model.Job.Company.City.Name</span></h2>
                    <div class="company-subdetail">
                        <a href="@Model.Job.Company.WebsiteUrl" target="_blank">
                            <i class="fa-light fa-globe"></i>
                            @if (Model.Job.Company.WebsiteUrl != null)
                            {
                                @Model.Job.Company.WebsiteUrl
                            }
                            else
                            {
                                @:Đang cập nhật
                            }
                        </a>
                        <a href="javascripts:;"><i class="fa-solid fa-buildings"></i>@Model.Job.Company.CompanySize</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>@Model.Job.Company.JobPosts.Count() công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    <a href="@Url.Action("Employer", new {url = Model.Job.Company.Url})" class="btn btn-follow" target="_blank">
                        Xem trang công ty <i class="fa-light fa-arrow-up-right-from-square"></i>
                    </a>
                    @if (email == "")
                    {
                        <a href="#" data-target="#qick-form" data-toggle="modal" class="btn btn-follow">
                            <i class="fa-light fa-plus"></i> Theo dõi công ty
                        </a>
                    }
                    else
                    {
                        if (Model.Follows.Any(a => a.CompanyId == Model.Job.Company.EmployerId))
                        {
                            <a href="javascripts:;" class="btn btn-follow unfollow" data-company-id="@Model.Job.Company.EmployerId ">
                                Bỏ theo dõi công ty
                            </a>
                        }
                        else
                        {
                            <a href="javascripts:;" class="btn btn-follow follow" data-company-id="@Model.Job.Company.EmployerId ">
                                Theo dõi công ty
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-xl-8">
                <div class="job-detail__box--left ">
                    <h1 class="job-detail__name">
                        @Model.Job.Name
                    </h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-coins"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Mức lương</span>
                                    <span class="job-detail__info--section-content-value">@Html.DisplayFor(a => Model.Job.Wages)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Quốc gia</span>
                                    <span class="job-detail__info--section-content-value">
                                        @*@foreach (var countruy in Model.Job.Cities)
                                {
                                    @countruy.Name
                                    if (countruy != Model.Job.Cities.Last())
                                    {
                                        @: ,
                                    }
                                }*@
                                        @Html.DisplayFor(a => Model.Job.Country.Name)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-solid fa-book-open-cover"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Kinh nghiệm</span>
                                    <span class="job-detail__info--section-content-value">@Html.DisplayFor(a => a.Job.Experiences)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deadline">
                        <i class="fa-solid fa-clock"></i>Hạn nộp hồ sơ:
                        @if (Model.Job.ExpirationDate != null)
                        {
                            @Html.DisplayFor(a => a.Job.ExpirationDate)
                        }
                        else
                        {
                            @:Luôn tuyển
                        }
                    </div>
                    <div class="button-list">
                        @if (email != "")
                        {
                            if (Model.ApplyJobs.Any())
                            {
                                <div class="button1">Đã ứng tuyển</div>
                            }
                            else
                            {
                                <div class="button1 apply-btn" data-toggle="modal" data-target="#exampleModalCenter" data-action="@Url.Action("ApplyForm", "Home")" data-id="@Model.Job.Id">Nộp hồ sơ</div>
                            }
                        }
                        else
                        {
                            <a href="#" data-target="#qick-form" data-toggle="modal" class="button1">Nộp hồ sơ</a>
                        }

                        <div class="button2" data-toggle="modal" data-target="#Advise">Cần tư vấn</div>
                        @if (email == "")
                        {
                            <a href="#" data-toggle="modal" data-target="#qick-form" class="button3"><i class="fa-regular fa-heart mr-2"></i> Lưu tin </a>
                        }
                        else
                        {
                            if (Model.Likes.Any(a => a.JobId == Model.Job.Id))
                            {
                                <div class="button3 unlike active" data-job="@Model.Job.Id"><i class="fa-solid fa-heart mr-2 heart-detail"></i> Bỏ lưu </div>

                            }
                            else
                            {
                                <div class="button3 like" data-job="@Model.Job.Id"><i class="fa-regular fa-heart mr-2 heart-detail"></i> Lưu tin </div>
                            }
                        }
                    </div>
                </div>
                <div class="job-detail__box--left my-3 job-section  " id="detail-job">
                    <div class="job-detail__information-detail--title">
                        Chi tiết tin tuyển dụng
                    </div>
                    @if (Model.Job.Image != null)
                    {
                        <div class="detail-title-box">
                            Hình ảnh minh họa
                        </div>
                        <div class="list-img">
                            @foreach (var item in Model.Job.Image.Split(','))
                            {
                                <a href="@Path.Combine("/images/job/",item)" data-fancybox="detail">
                                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/job/", item)" alt="@Model.Job.Name" class="lazyload" />
                                </a>
                            }
                        </div>
                    }
                    @if (Model.Job.Body != null)
                    {
                        <div class="detail-title-box">
                            Mô tả công việc
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Body)
                        </div>
                    }
                    @if (Model.Job.Benefits != null)
                    {
                        <div class="detail-title-box">
                            Quyền lợi ứng viên
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Benefits)
                        </div>
                    }
                    @if (Model.Job.Requirement != null)
                    {
                        <div class="detail-title-box">
                            Yêu cầu ứng viên
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Requirement)
                        </div>
                    }
                    @if (Model.Job.WorkLocation != null)
                    {
                        <div class="detail-title-box">
                            Địa điểm làm việc
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.WorkLocation)
                        </div>
                    }
                    <div class="box-ac">
                        <div class="detail-title-box">
                            Cách thức ứng tuyển
                        </div>
                        <div class="job-description__item--content">
                            Ứng viên nộp hồ sơ trực tuyến bằng cách bấm <strong>Ứng tuyển</strong> ngay dưới đây.
                        </div>
                        <div class="job-detail__information-detail--actions-button box-apply-current">
                            @if (email != "")
                            {
                                if (Model.ApplyJobs.Any())
                                {
                                    <a href="#" class="job-detail__info--actions-button" data-toggle="modal">
                                        Đã ứng tuyển
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="job-detail__info--actions-button apply-btn" data-toggle="modal" data-target="#exampleModalCenter">
                                        Ứng tuyển ngay
                                    </a>
                                }
                            }
                            else
                            {
                                <a href="#" class="job-detail__info--actions-button" data-toggle="modal" data-target="#qick-form">
                                    Ứng tuyển ngay
                                </a>
                            }

                            @if (email == "")
                            {
                                <div id="box-save-job-1257219" class="box-save-job  job-saved ">
                                    <a href="#" data-toggle="modal" data-target="#qick-form" class="job-detail__info--actions-button button-white" id="save-job">
                                        Lưu tin
                                    </a>
                                </div>
                            }
                            else
                            {
                                if (Model.Likes.Any(a => a.JobId == Model.Job.Id))
                                {
                                    <div id="box-save-job-1257219" class="box-save-job  job-saved ">
                                        <button data-toggle="modal" data-job="@Model.Job.Id" class="job-detail__info--actions-button button-white unlike" id="save-job">
                                            Bỏ lưu
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div id="box-save-job-1257219" class="box-save-job  job-saved ">
                                        <button data-toggle="modal" data-job="@Model.Job.Id" class="job-detail__info--actions-button button-white like" id="save-job">
                                            Lưu tin
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                        <div class="job-description__item--content">
                            Hạn nộp hồ sơ:
                            @if (Model.Job.ExpirationDate != null)
                            {
                                @Html.DisplayFor(a => a.Job.ExpirationDate)
                            }
                            else
                            {
                                @:Luôn tuyển
                            }
                        </div>
                    </div>
                </div>
                <div class="d-lg-none d-block">
                    <div class="job-detail__box--right mb-3">
                        <div class="job-detail__information-detail--title mb-4">
                            Thông tin chung
                        </div>
                        <div class="media section-info mt-3">
                            <div class="section-info__icon">
                                <i class="fa-solid fa-ranking-star"></i>
                            </div>
                            <div class="media-body">
                                <span class="job-detail__info--section-content-title">Cấp bậc</span>
                                <span class="job-detail__info--section-content-value">@Model.Job.Rank.Name</span>
                            </div>
                        </div>
                        <div class="media section-info mt-4">
                            <div class="section-info__icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <div class="media-body">
                                <span class="job-detail__info--section-content-title">Số lượng tuyển</span>
                                <span class="job-detail__info--section-content-value">@Model.Job.Quantity</span>
                            </div>
                        </div>
                        <div class="media section-info mt-4">
                            <div class="section-info__icon">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <div class="media-body">
                                <span class="job-detail__info--section-content-title">Hình thức làm việc</span>
                                <span class="job-detail__info--section-content-value">@Model.Job.JobType.Name</span>
                            </div>
                        </div>
                        <div class="media section-info mt-4">
                            <div class="section-info__icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="media-body">
                                <span class="job-detail__info--section-content-title">Giới tính</span>
                                <span class="job-detail__info--section-content-value">@Model.Job.Gender</span>
                            </div>
                        </div>
                    </div>
                    <div class="job-detail__box--right mt-3 d-lg-none d-block">
                        <div class="detail-title-box">
                            Từ khóa công việc
                        </div>
                        <div class="d-flex flex-row mt-2">
                            @foreach (var item in Model.Job.Skills)
                            {
                                <div class="deadline mr-2">
                                    @item.SkillName
                                </div>
                            }
                        </div>
                        <div class="detail-title-box mt-3">
                            Địa điểm
                        </div>
                        <div class="d-flex flex-row mt-2">
                            <div class="deadline mr-2">
                                @Model.Job.Address ,
                                @foreach (var item in Model.Job.Cities)
                                {
                                    @item.Name
                                }
                                ,
                                @Model.Job.Country.Name
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.JobPosts.Any())
                {
                    <div class="job-detail__box--left my-3 job-section" id="job-relate">
                        <div class="job-detail__information-detail--title mb-3">
                            Việc làm liên quan
                        </div>
                        @foreach (var item in Model.JobPosts)
                        {
                            <div class="job bg-white detail-job @if (item.Hot != null && item.Hot >= DateTime.Now) { @Html.Raw("active") } mb-2">
                                <div class="media media-mb">
                                    <div>
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-name" data-tooltip="@item.Name" data-tooltip-position="top">@item.Name</a>
                                        <div class="company-name">
                                            @item.Company.Name
                                        </div>
                                    </div>
                                    <div class="media-body time-deadline text-right">
                                        <div class="price-job">
                                            @Html.DisplayFor(a => item.Wages)
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <div class="w-75">
                                        <span class="info-job price">@Html.DisplayFor(a => item.Wages)</span>
                                        <span class="info-job">
                                            @if (item.Cities.Any())
                                            {
                                                if (item.Cities.Count > 1)
                                                {

                                                    <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                        @item.Cities.Count Thành phố
                                                    </span>
                                                }
                                                else
                                                {
                                                    foreach (var city in item.Cities.Take(1))
                                                    {
                                                        <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                            @city.Name
                                                        </span>
                                                    }
                                                }
                                            }
                                        </span>
                                    </div>
                                    <div class="w-25 right-item">
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="apply-url">Ứng tuyển</a>
                                        @if (email == "")
                                        {
                                            <a href="#" data-tooltip="Phải đăng nhập để lưu tin" data-tooltip-position="top" data-toggle="modal" data-target="#qick-form" class="heart"><i class="fa-regular fa-heart"></i></a>
                                        }
                                        else
                                        {
                                            if (Model.Likes.Any(a => a.JobId == item.Id))
                                            {
                                                <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fa-regular fa-heart"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fa-regular fa-heart"></i></a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

                @if (Model.Companies.Any())
                {
                    var a = 1;
                    <div class="job-detail__information-detail--title mt-3 mb-4">
                        Top công ty cùng lĩnh vực
                    </div>
                    foreach (var item in Model.Companies)
                    {
                        <div class="samefield mb-3">
                            <div class="media align-items-center">
                                <div class="samefield-thuml">
                                    @if (item.Avatar != null)
                                    {
                                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", item.Avatar)" alt="@item.Name" class="lazyload" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/avatar-default.jpg" alt="@item.Name" class="lazyload" />
                                    }
                                </div>
                                <div class="media-body ml-3">
                                    <a href="@Url.Action("Employer", new {url = item.Url})" class="samefield-name">@item.Name</a>
                                    <div class="d-flex" style="gap:.6rem">
                                        <div class="job-qtity">
                                            @item.JobPosts.Count() việc làm đang tuyển
                                        </div>
                                        <div class="job-qtity">
                                            Cập nhật @Utils.UpdateDateVn(item.LastEditDate)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Action("Employer", new {url = item.Url})" data-toggle="modal" data-target="#qick-form" class="fl-samefield">
                               Xem ngay
                            </a>
                            <div class="tag-i">
                                TOP @a
                            </div>
                        </div>
                        a++;
                    }
                }
            </div>
            <div class="col-xl-4">
                <div class="job-detail__box--right mb-3 d-lg-block d-none">
                    <div class="job-detail__information-detail--title mb-4">
                        Thông tin chung
                    </div>
                    <div class="media section-info mt-3">
                        <div class="section-info__icon">
                            <i class="fa-solid fa-ranking-star"></i>
                        </div>
                        <div class="media-body">
                            <span class="job-detail__info--section-content-title">Cấp bậc</span>
                            <span class="job-detail__info--section-content-value">@Model.Job.Rank.Name</span>
                        </div>
                    </div>
                    <div class="media section-info mt-4">
                        <div class="section-info__icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div class="media-body">
                            <span class="job-detail__info--section-content-title">Số lượng tuyển</span>
                            <span class="job-detail__info--section-content-value">@Model.Job.Quantity</span>
                        </div>
                    </div>
                    <div class="media section-info mt-4">
                        <div class="section-info__icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div class="media-body">
                            <span class="job-detail__info--section-content-title">Hình thức làm việc</span>
                            <span class="job-detail__info--section-content-value">@Model.Job.JobType.Name</span>
                        </div>
                    </div>
                    <div class="media section-info mt-4">
                        <div class="section-info__icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="media-body">
                            <span class="job-detail__info--section-content-title">Giới tính</span>
                            <span class="job-detail__info--section-content-value">@Model.Job.Gender</span>
                        </div>
                    </div>
                </div>
                <div class="job-detail__box--right mt-3 d-lg-block d-none">
                    <div class="detail-title-box">
                        Từ khóa công việc
                    </div>
                    <div class="d-flex flex-row mt-2">
                        @foreach (var item in Model.Job.Skills)
                        {
                            <div class="deadline mr-2">
                                @item.SkillName
                            </div>
                        }
                    </div>
                    <div class="detail-title-box mt-3">
                       Địa điểm
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <div class="deadline mr-2">
                            @Model.Job.Address ,
                            @foreach (var item in Model.Job.Cities)
                            {
                                @item.Name
                            }
                            ,
                            @Model.Job.Country.Name
                        </div>
                    </div>
                </div>
                @if (Model.JobCompanys.Any())
                {
                    <div class="job-detail__box--right mt-3">
                        <div class="job-detail__box--right-title">
                            Việc làm cùng công ty
                        </div>
                        <form class="job-search-box" action="@Url.Action("Search")">
                            <input type="hidden" name="companyId" value="@Model.Job.CompanyId" />
                            <input type="text" name="keyword" required placeholder="Tên công việc, vị trí bạn muốn ứng tuyển..." />
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <hr />
                        @foreach (var item in Model.JobCompanys)
                        {
                            var tooltip = "";
                            if (item.ExpirationDate != null)
                            {
                                if (item.ExpirationDate > DateTime.Now)
                                {
                                    tooltip = "Còn" + @Utils.DateCountDown(item.ExpirationDate) + "để ứng tuyển";
                                }
                                else
                                {
                                    tooltip = "Hết thời gian ứng tuyển";
                                }
                            }
                            else
                            {
                                tooltip = "Luôn tuyển";
                            }
                            <div class="job-in-company">
                                <div class="media">
                                    <div class="company-avata border rounded">
                                        @if (item.Company.Avatar != null)
                                        {
                                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", item.Company.Avatar)" alt="@item.Company.Name" class="lazyload" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/avatar-default.jpg" alt="@item.Company.Name" class="lazyload" />
                                        }
                                    </div>
                                    <div class="media-body ml-2">
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-in-company-name">@item.Name</a>
                                    </div>
                                </div>
                                <div class="company-job-name">
                                    @item.Company.Name
                                </div>
                                <div class="info-job-company">
                                    <div class="info-job-company1 price">@Html.DisplayFor(a => item.Wages)</div>
                                    <div class="info-job-company2">
                                        @if (item.Cities.Any())
                                        {
                                            if (item.Cities.Count > 1)
                                            {

                                                <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                    @item.Cities.Count Thành phố
                                                </span>
                                            }
                                            else
                                            {
                                                foreach (var city in item.Cities.Take(1))
                                                {
                                                    <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                        @city.Name
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="info-job-company3">Cập nhật @Utils.UpdateDateVn(item.LastEditDate)</div>
                                    <div class="info-job-company4 strong-text p-3" data-tooltip="@tooltip" data-tooltip-position="top">
                                        <i class="fa-solid fa-clock mr-2"></i>
                                        @if (item.ExpirationDate != null)
                                        {
                                            if (item.ExpirationDate > DateTime.Now)
                                            {
                                                @:Còn <strong>@Utils.DateCountDown(item.ExpirationDate)</strong> để ứng tuyển
                                            }
                                            else
                                            {
                                                @:Hết thời gian ứng tuyển
                                            }
                                        }
                                        else
                                        {
                                            @:Luôn tuyển
                                        }
                                    </div>
                                </div>
                                @if (email == "")
                                {
                                    <a href="#" data-toggle="modal" data-target="#qick-form" class="heart"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                }
                                else
                                {
                                    if (Model.Likes.Any(a => a.JobId == item.Id))
                                    {
                                        <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                    else
                                    {
                                        <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                }
                            </div>
                        }
                        <a href="@Url.Action("Recruitment", new {url = Model.Job.Company.Url})" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>
                    </div>
                }

                @if (Model.CompanyJob != null)
                {
                   <div class="box-maybe">
                       <div class="job-detail__box--right-title my-3">
                           Có thể bạn quan tâm
                       </div>
                       <div class="box-maybe-interested__company">
                           <div class="box-maybe-banner">
                               @if (Model.CompanyJob.Cover != null)
                               {
                                   <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.CompanyJob.Cover)" alt="@Model.CompanyJob.Name" class="lazyload">
                               }
                               else
                               {
                                   <img src="~/Content/images/cover-null.png" alt="@Model.CompanyJob.Name" class="lazyload">
                               }
                           </div>
                           <div class="company__info mt-3">
                               <div class="company__info--logo">
                                   <a href="@Url.Action("Employer", new {url = Model.CompanyJob.Url})">
                                       @if (Model.CompanyJob.Avatar != null)
                                       {
                                           <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.CompanyJob.Avatar)" alt="@Model.CompanyJob.Name" class="img-responsive lazyload">
                                       }
                                       else
                                       {
                                           <img src="~/Content/images/avatar-default.jpg" alt="@Model.CompanyJob.Name" class="img-responsive lazyload">
                                       }
                                   </a>
                               </div>
                               <div class="company__info--name">
                                   <a href="@Url.Action("Employer", new {url = Model.CompanyJob.Url})">@Model.CompanyJob.Name</a>
                               </div>
                           </div>
                           <div class="company__job">
                               @foreach (var item in Model.CompanyJob.JobPosts.Take(5))
                               {
                                   <div class="job job-ta shadow-none">
                                       <a href="@Url.Action("JobDetail", new {url = item.Url })" class="job__name" data-tooltip="@item.Name" data-tooltip-position="top">@item.Name</a>
                                       <div class="job__info">
                                           <div class="job__info--salary">
                                               <i class="fa-solid fa-circle-dollar"></i>
                                               <span>@Html.DisplayFor(a => item.Wages)</span>
                                           </div>
                                           <div class="job__info--address">
                                               <i class="fa-solid fa-location-dot"></i>
                                               <span>
                                                   @if (item.Cities.Any())
                                                   {
                                                       if (item.Cities.Count > 1)
                                                       {

                                                           <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                               @item.Cities.Count Thành phố
                                                           </span>
                                                       }
                                                       else
                                                       {
                                                           foreach (var city in item.Cities.Take(1))
                                                           {
                                                               <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                                   @city.Name
                                                               </span>
                                                           }
                                                       }
                                                   }
                                               </span>
                                           </div>
                                       </div>
                                   </div>
                               }
                               <div class="company__link mb-3">
                                   <a rel="nofollow" href="@Url.Action("Employer", new {url = Model.CompanyJob.Url})" target="_blank">Tìm hiểu ngay</a>
                               </div>
                           </div>
                       </div>
                   </div>
                }

                <div class="job-detail__box--right mt-3">
                    <div class="job-detail__box--right-title">
                        Chia sẻ tin tới bạn bè
                    </div>
                    <div class="copy-link">
                        <div class="link">
                            <span id="url-request" data-value="@request">
                                @request
                            </span>
                        </div>
                        <button type="button" class="copy-value"><i class="fas fa-copy"></i></button>
                    </div>
                    <div class="job-detail__box--right-title mt-4">
                        Chia sẻ qua mạng xã hội
                    </div>
                    <ul class="ul-reset share-social mt-2">
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/facebook.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/twitter.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/linkedin.png" alt="Facebook" /></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="job-detail-fixed-menu" id="job-detail-fixed-menu" style="display: none;">
    <div class="container">
        <div class="job-detail-fixed-menu__left">
            <div class="job-detail-fixed-menu__tabs">
                <a href="#detail-job" class="job-detail-fixed-menu__tabs--item active" id="fixed-menu-tab-job-info">
                    Chi tiết tin tuyển dụng
                </a>
                <a href="#job-relate" class="job-detail-fixed-menu__tabs--item" id="fixed-menu-tab-job-similar">
                    Việc làm liên quan
                </a>
            </div>
            <div class="job-detail-fixed-menu__actions" id="job-detail-fixed-menu-actions">
                @if (email != "")
                {
                    if (Model.ApplyJobs.Any())
                    {
                        <a href="#" class="job-detail-fixed-menu__actions--button open-apply-modal" data-toggle="modal" data-target="">
                            <span class="button-icon">
                                <i class="fa-light fa-paper-plane"></i>
                            </span>
                            Đã ứng tuyển
                        </a>
                    }
                    else
                    {
                        <a href="#" class="job-detail-fixed-menu__actions--button open-apply-modal apply-btn" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="button-icon">
                                <i class="fa-light fa-paper-plane"></i>
                            </span>
                            Ứng tuyển ngay
                        </a>
                    }
                }
                else
                {
                    <a href="#" class="job-detail-fixed-menu__actions--button open-apply-modal" data-toggle="modal" data-target="#qick-form">
                        <span class="button-icon">
                            <i class="fa-light fa-paper-plane"></i>
                        </span>
                        Ứng tuyển ngay
                    </a>
                }
                @*@if (Model.ApplyJobs.Any())
                    {
                        <a href="#" class="job-detail-fixed-menu__actions--button open-apply-modal">
                            <span class="button-icon">
                                <i class="fa-light fa-paper-plane"></i>
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="job-detail-fixed-menu__actions--button open-apply-modal" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="button-icon">
                                <i class="fa-light fa-paper-plane"></i>
                            </span>
                            Ứng tuyển ngay
                        </a>
                    }*@

            </div>
        </div>
    </div>
</div>
@* Apply form *@
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="job-detail__name" id="exampleModalLongTitle">Ứng tuyển: <span class="text-success">@Model.Job.Name</span></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "apply-form" }))
            {
                <input type="hidden" name="JobId" value="@Model.Job.Id" />
                <input type="hidden" name="CompanyId" value="@Model.Job.CompanyId" />
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true)
                <div class="modal-body">
                    @Html.Action("ApplyForm")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Gửi thông tin</button>
                </div>
            }
        </div>
    </div>
</div>


@* Advise form *@
<div class="modal fade bd-example-modal-lg" id="Advise" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="job-detail__name" id="exampleModalLongTitle">Tư vấn: <span class="text-success">@Model.Job.Name</span></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Advise", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "advise-form" }))
            {
                <input type="hidden" name="Advise.JobPostId" value="@Model.Job.Id" />
                <input type="hidden" name="Advise.EmployerId" value="@Model.Job.CompanyId" />
                <input type="hidden" name="Advise.Name" value="@Model.Job.Name" />
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true)
                <div class="modal-body">
                    @Html.Action("AdviseForm")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Gửi thông tin</button>
                </div>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@section scripts{
    <script>
        Details()
        ActionDetail()
        QickLike()
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#job-detail-fixed-menu').addClass('show');
            } else {
                $('#job-detail-fixed-menu').removeClass('show');
            }
        });
        $(window).scroll(function () {
            var scrollDistance = $(window).scrollTop();
            $('.job-section').each(function (i) {
                var sectionTop = $(this).offset().top - 300; // Adjusted by 400px
                if (sectionTop <= scrollDistance) {
                    $('.job-detail-fixed-menu__tabs--item').removeClass('active');
                    $('.job-detail-fixed-menu__tabs--item').eq(i).addClass('active');
                }
            });
        }).scroll();

        $('input[type="radio"]').change(function () {
            var checkedValue = $('input[type="radio"]:checked').val();
            if (checkedValue === '1') {
                $('.drop_box').addClass('active');
            } else {
                $('.drop_box').removeClass('active');
            }
        });
    </script>
} 