@model GlobeWork.ViewModel.JobDetailViewModel
@using Helpers;
@{
    ViewBag.Title = Model.Job.Name;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("JobDetail", new { url = Model.Job.Url });
    if (Model.Job.Company.Avatar != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/company/", Model.Job.Company.Avatar);
    }
    var id = Convert.ToInt32(ViewContext.RouteData.Values["Id"]);
    var email = ViewContext.RouteData.Values["Email"].ToString();
    var request = Request.Url;
}
<div class="bg-light py-4">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                @if (Model.Job.Company.Cover != null)
                {
                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Job.Company.Cover)" alt="@Model.Job.Company.Name" class="lazyload">
                }
                else
                {
                    <img src="~/Content/images/cover-null.png" alt="@Model.Job.Company.Name" class="lazyload">
                }
            </div>
            <div class="company-logo">
                <div class="company-image-logo">
                    @if (Model.Job.Company.Avatar != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Job.Company.Avatar)" alt="@Model.Job.Company.Name" class="img-responsive lazyload">
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.Job.Company.Name" class="img-responsive lazyload">
                    }
                </div>
            </div>
            <div class="company-detail-overview">
                <div class="box-detail">
                    <h1 class="company-detail-name ">@Model.Job.Company.Name <span class="tag-name">@Model.Job.Company.City.Name</span></h1>
                    <div class="company-subdetail">
                        <a href="@Model.Job.Company.WebsiteUrl" target="_blank">
                            <i class="fa-light fa-globe"></i>
                            @if (Model.Job.Company.WebsiteUrl != null)
                            {
                                @Model.Job.Company.WebsiteUrl
                            }
                            else
                            {
                                @:Đang cập nhật
                            }
                        </a>
                        <a href="javascripts:;"><i class="fa-solid fa-buildings"></i>@Model.Job.Company.CompanySize</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>@Model.Job.Company.JobPosts.Count() công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    <a href="@Url.Action("Employer", new {url = Model.Job.Company.Url})" class="btn btn-follow" target="_blank">
                        Xem trang công ty <i class="fa-light fa-arrow-up-right-from-square"></i>
                    </a>
                    @if (email == "")
                    {
                        <a href="@Url.Action("Login","User" , new {returnUrl = Url.Action("JobDetail", new { url = Model.Job.Url })})" class="btn btn-follow">
                            <i class="fa-light fa-plus"></i> Theo dõi công ty
                        </a>
                    }
                    else
                    {
                        if (Model.Follows.Any(a => a.CompanyId == Model.Job.Company.EmployerId))
                        {
                            <a href="javascripts:;" class="btn btn-follow unfollow" data-company-id="@Model.Job.Company.EmployerId ">
                                Bỏ theo dõi công ty
                            </a>
                        }
                        else
                        {
                            <a href="javascripts:;" class="btn btn-follow follow" data-company-id="@Model.Job.Company.EmployerId ">
                                Theo dõi công ty
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-8">
                <div class="job-detail__box--left ">
                    <div class="job-detail__name">
                        @Model.Job.Name
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-coins"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Mức lương</span>
                                    <span class="job-detail__info--section-content-value">@Html.DisplayFor(a => Model.Job.Wages)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Địa điểm</span>
                                    <span class="job-detail__info--section-content-value">
                                        @foreach (var countruy in Model.Job.Cities)
                                        {
                                            @countruy.Name
                                            if (countruy != Model.Job.Cities.Last())
                                            {
                                                @: ,
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="media section-info">
                                <div class="section-info__icon">
                                    <i class="fa-solid fa-book-open-cover"></i>
                                </div>
                                <div class="media-body">
                                    <span class="job-detail__info--section-content-title">Yêu cầu</span>
                                    <span class="job-detail__info--section-content-value">@Html.DisplayFor(a => a.Job.Experiences)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deadline">
                        <i class="fa-solid fa-clock"></i>Hạn nộp hồ sơ:
                        @if (Model.Job.ExpirationDate != null)
                        {
                            @Html.DisplayFor(a => a.Job.ExpirationDate)
                        }
                        else
                        {
                            @:Luôn tuyển
                        }
                    </div>
                    <div class="button-list">
                        @if (email != "")
                        {
                            if (Model.ApplyJobs.Any())
                            {
                                <div class="button1">Đã ứng tuyển</div>
                            }
                            else
                            {
                                <div class="button1" data-toggle="modal" data-target="#exampleModalCenter" data-action="@Url.Action("ApplyForm", "Home")" data-id="@Model.Job.Id">Nộp hồ sơ</div>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "User")" class="button1">Nộp hồ sơ</a>
                        }

                        <div class="button2" data-toggle="modal" data-target="#Advise">Cần tư vấn</div>
                        @if (email == "")
                        {
                            <a href="@Url.Action("Login","User" , new {returnUrl = Url.Action("JobDetail", new { url = Model.Job.Url })})" class="button3"><i class="fa-regular fa-heart mr-2"></i> Lưu tin </a>
                        }
                        else
                        {
                            if (Model.Likes.Any())
                            {
                                <div class="button3 unlike active" data-job="@Model.Job.Id"><i class="fa-solid fa-heart mr-2 heart-detail"></i> Bỏ lưu </div>

                            }
                            else
                            {
                                <div class="button3 like" data-job="@Model.Job.Id"><i class="fa-regular fa-heart mr-2 heart-detail"></i> Lưu tin </div>
                            }
                        }
                    </div>
                </div>
                <div class="job-detail__box--left my-3">
                    <div class="detail-title-box">
                        Kỹ năng cần có
                    </div>
                    <div class="d-flex flex-row">
                        @foreach (var item in Model.Job.Skills)
                        {
                            <div class="deadline mr-2">
                                @item.SkillName
                            </div>
                        }
                    </div>
                    <div class="detail-title-box">
                        Khu vực
                    </div>
                    <div class="d-flex flex-row">
                        @foreach (var item in Model.Job.Cities)
                        {
                            <div class="deadline mr-2">
                                @item.Name
                            </div>
                        }
                    </div>
                </div>
                <div class="job-detail__box--left my-3">
                    <div class="job-detail__information-detail--title">
                        Chi tiết tin tuyển dụng
                    </div>
                    @if (Model.Job.Image != null)
                    {
                        <div class="detail-title-box">
                            Hình ảnh minh họa
                        </div>
                        <div class="list-img">
                            @foreach (var item in Model.Job.Image.Split(','))
                            {
                                <a href="@Path.Combine("/images/job/",item)" data-fancybox="detail">
                                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/job/", item)" alt="@Model.Job.Name" class="lazyload" />
                                </a>
                            }
                        </div>
                    }
                    @if (Model.Job.Body != null)
                    {
                        <div class="detail-title-box">
                            Mô tả công việc
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Body)
                        </div>
                    }
                    @if (Model.Job.Requirement != null)
                    {
                        <div class="detail-title-box">
                            Yêu cầu ứng viên
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Requirement)
                        </div>
                    }
                    @if (Model.Job.Benefits != null)
                    {
                        <div class="detail-title-box">
                            Quyền lợi ứng viên
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.Benefits)
                        </div>
                    }
                    @if (Model.Job.WorkLocation != null)
                    {
                        <div class="detail-title-box">
                            Địa điểm làm việc
                        </div>
                        <div class="content-detail">
                            @Html.Raw(Model.Job.WorkLocation)
                        </div>
                    }
                </div>
                @if (Model.Companies.Any())
                {
                    <div class="job-detail__information-detail--title mt-3 mb-4">
                        Top công ty cùng lĩnh vực
                    </div>
                    foreach (var item in Model.Companies)
                    {
                        <div class="samefield mb-3">
                            <div class="media align-items-center">
                                <div class="samefield-thuml">
                                    @if (item.Avatar != null)
                                    {
                                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", item.Avatar)" alt="@item.Name" class="lazyload" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/avatar-default.jpg" alt="@item.Name" class="lazyload" />
                                    }
                                </div>
                                <div class="media-body ml-3">
                                    <a href="@Url.Action("Employer", new {url = item.Url})" class="samefield-name">@item.Name</a>
                                    <div class="job-qtity">
                                        @item.JobPosts.Count() việc làm
                                    </div>
                                </div>
                            </div>
                            @if (email == "")
                            {
                                <a href="@Url.Action("Login","User" , new {returnUrl = Url.Action("JobDetail", new { url = Model.Job.Url })})" class="fl-samefield">
                                    @*<i class="fa-light fa-plus mr-2"></i>*@ Theo dõi
                                </a>
                            }
                            else
                            {
                                if (Model.Follows.Any(a => a.CompanyId == item.EmployerId))
                                {
                                    <a href="javascripts:;" class="fl-samefield unfollow" data-company-id="@item.EmployerId ">
                                        @*<i class="fa-light fa-plus mr-2"></i>*@ Bỏ theo dõi công ty
                                    </a>
                                }
                                else
                                {
                                    <a href="javascripts:;" class="fl-samefield follow" data-company-id="@item.EmployerId ">
                                        @*<i class="fa-light fa-plus mr-2"></i>*@ Theo dõi
                                    </a>
                                }
                            }

                            <div class="tag-i">
                                TOP 10
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4">
                @if (Model.JobCompanys.Any())
                {
                    <div class="job-detail__box--right ">
                        <div class="job-detail__box--right-title">
                            Việc làm cùng công ty
                        </div>
                        <form class="job-search-box" action="@Url.Action("Search")">
                            <input type="hidden" name="companyId" value="@Model.Job.CompanyId" />
                            <input type="text" name="keyword" required placeholder="Tên công việc, vị trí bạn muốn ứng tuyển..." />
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <hr />
                        @foreach (var item in Model.JobCompanys)
                        {
                            <div class="job-in-company">
                                <div class="media">
                                    <div class="company-avata border rounded">
                                        @if (item.Company.Avatar != null)
                                        {
                                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", item.Company.Avatar)" alt="@item.Company.Name" class="lazyload" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/avatar-default.jpg" alt="@item.Company.Name" class="lazyload" />
                                        }
                                    </div>
                                    <div class="media-body ml-2">
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-in-company-name">@item.Name</a>
                                    </div>
                                </div>
                                <div class="company-job-name">
                                    @item.Company.Name
                                </div>
                                <div class="info-job-company">
                                    <div class="info-job-company1 price">@Html.DisplayFor(a => item.Wages)</div>
                                    <div class="info-job-company2">
                                        @if (item.Cities.Any())
                                        {
                                            if (item.Cities.Count > 1)
                                            {

                                                <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                    @item.Cities.Count Thành phố
                                                </span>
                                            }
                                            else
                                            {
                                                foreach (var city in item.Cities.Take(1))
                                                {
                                                    <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                        @city.Name
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="info-job-company3">Cập nhật @Html.DateVn(item.LastEditDate, 2) </div>
                                    <div class="info-job-company4 p-3">
                                        <i class="fa-solid fa-clock mr-2"></i>
                                        @if (item.ExpirationDate != null)
                                        {
                                            @:Hạn nộp hồ sơ : @Html.DisplayFor(a => item.ExpirationDate)
                                        }
                                        else
                                        {
                                            @:Hạn nộp hồ sơ : Luôn tuyển
                                        }
                                    </div>
                                </div>
                                @if (email == "")
                                {
                                    <a href="@Url.Action("Login","User" , new {returnUrl = Url.Action("JobDetail", new { url = Model.Job.Url })})" class="heart"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                }
                                else
                                {
                                    if (Model.Likes.Any(a => a.JobId == item.Id))
                                    {
                                        <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                    else
                                    {
                                        <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                }
                            </div>
                        }
                        <a href="@Url.Action("Recruitment", new {url = Model.Job.Company.Url})" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>
                    </div>
                }

                @if (Model.JobPosts.Any())
                {
                    <div class="job-detail__box--right mt-3">
                        <div class="job-detail__box--right-title">
                            Việc làm liên quan
                        </div>
                        <form class="job-search-box" action="@Url.Action("Search")">
                            <input type="text" name="keyword" required placeholder="Tên công việc, vị trí bạn muốn ứng tuyển..." />
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <hr />
                        @foreach (var item in Model.JobPosts)
                        {
                            <div class="job-in-company pt-0 mb-3">
                                <div class="media align-items-center">
                                    <div class="company-avata border rounded rounded-circle">
                                        @if (item.Company.Avatar != null)
                                        {
                                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", item.Company.Avatar)" alt="@item.Company.Name" class="lazyload rounded-circle" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/avatar-default.jpg" alt="@item.Company.Name" class="lazyload rounded-circle" />
                                        }
                                    </div>
                                    <div class="media-body ml-2">
                                        <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-in-company-name mt-0">@item.Name</a>
                                        <div class="company-job-name">
                                            @item.Company.Name
                                        </div>
                                    </div>
                                </div>
                                <div class="info-job-company resize-h">
                                    <div class="info-job-company1 price">@Html.DisplayFor(a => item.Wages)</div>
                                    <div class="info-job-company2">
                                        @if (item.Cities.Any())
                                        {
                                            if (item.Cities.Count > 1)
                                            {

                                                <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                    @item.Cities.Count Thành phố
                                                </span>
                                            }
                                            else
                                            {
                                                foreach (var city in item.Cities.Take(1))
                                                {
                                                    <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                        @city.Name
                                                    </span>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                @if (email == "")
                                {
                                    <a href="@Url.Action("Login", "User")" class="heart"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                }
                                else
                                {
                                    if (Model.Likes.Any(a => a.JobId == item.Id))
                                    {
                                        <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                    else
                                    {
                                        <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                                    }
                                }
                            </div>
                        }
                        <a href="" class="view-more-job">Xem thêm công việc<i class="fal fa-long-arrow-right ml-2"></i></a>
                    </div>
                }
                <div class="job-detail__box--right mt-3">
                    <div class="job-detail__box--right-title">
                        Chia sẻ công ty tới bạn bè
                    </div>
                    <div class="copy-link">
                        <div class="link">
                            <span id="url-request" data-value="@request">
                                @request
                            </span>
                        </div>
                        <button type="button" class="copy-value"><i class="fas fa-copy"></i></button>
                    </div>
                    <div class="job-detail__box--right-title mt-4">
                        Chia sẻ qua mạng xã hội
                    </div>
                    <ul class="ul-reset share-social mt-2">
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/facebook.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/twitter.png" alt="Facebook" /></a>
                        </li>
                        <li>
                            <a href="javascripts:;" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false" target="_blank"><img src="~/Content/images/linkedin.png" alt="Facebook" /></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
@* Apply form *@
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="job-detail__name" id="exampleModalLongTitle">Ứng tuyển: <span class="text-success">@Model.Job.Name</span></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Apply", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "apply-form" }))
            {
                <input type="hidden" name="JobId" value="@Model.Job.Id" />
                <input type="hidden" name="CompanyId" value="@Model.Job.CompanyId" />
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true)
                <div class="modal-body">
                    @Html.Action("ApplyForm")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Gửi thông tin</button>
                </div>
            }
        </div>
    </div>
</div>

@* Advise form *@
@if (id > 0)
{
    <div class="modal fade bd-example-modal-lg" id="Advise" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="job-detail__name" id="exampleModalLongTitle">Tư vấn: <span class="text-success">@Model.Job.Name</span></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Advise", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "advise-form" }))
                {
                    <input type="hidden" name="JobId" value="@Model.Job.Id" />
                    <input type="hidden" name="Advise.EmployerId" value="@Model.Job.CompanyId" />
                    <input type="hidden" name="UserId" value="@id" />
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true)
                    <div class="modal-body">
                        @Html.Action("AdviseForm")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Gửi thông tin</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
@section scripts{
    <script>
        Details()
        ActionDetail()
        QickLike()
        $('input[type="radio"]').change(function () {
            var checkedValue = $('input[type="radio"]:checked').val();
            if (checkedValue === '1') {
                $('.drop_box').addClass('active');
            } else {
                $('.drop_box').removeClass('active');
            }
        });
    </script>
} 