@model GlobeWork.ViewModel.JobHotViewModel
@using PagedList.Mvc
@using GlobeWork.Utils
@{
    ViewBag.Title = "Việc làm tốt nhất";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("JobHot");
    var email = ViewContext.RouteData.Values["Email"].ToString();
}
<section class="banner-job pb-0">
    <div class="container">
        <form id="frm-search-job" action="@Url.Action("JobHot")">
            <div class="group-search shadow">
                <div class=" item-search">
                    @Html.TextBoxFor(a => a.Name, new { @class = "w-100 form-controlui-autocomplete-input", @placeholder = "Vị trí tuyển dụng", @id = "keyword", @autocomplete = "off" })
                </div>
                <div class="search-city border-left">
                    <select class="select2" name="cityId">
                        <option value="">Quốc gia</option>
                        @foreach (var item in Model.Countries)
                        {
                            <option @if (item.Id == Model.CityId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location mx-2"></i>
                </div>
            </div>
            <div class="group-search shadow w-custom">
                <select class="select2 select-nn" name="careerId">
                    <option value="">Ngành nghề</option>
                    @foreach (var item in Model.Careers)
                    {
                        <option @if (item.Id == Model.CareerId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="group-search shadow w-custom">
                <select class="select2 select-nn" name="wage">
                    <option value="">Tất cả mức lương</option>
                    @foreach (var item in Model.Wages)
                    {
                        <option @if (item.Key == Model.Wage) { @Html.Raw("selected") } value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-block filter-btn shadow"><i class="far fa-search"></i>Tìm kiếm</button>
        </form>
    </div>
</section>
<div class="container">
    <div class="py-3">
        @if (Model.JobPosts.Any())
        {
            <div class="job-q mb-3">
                Hiện tại đang tuyển dụng <span>@Model.JobPosts.Count()</span> vị trí
            </div>
            foreach (var item in Model.JobPosts)
            {
                var tooltip = "";
                if (item.ExpirationDate != null)
                {
                    if (item.ExpirationDate > DateTime.Now)
                    {
                        tooltip = "Còn" + @Utils.DateCountDown(item.ExpirationDate) + "để ứng tuyển";
                    }
                    else
                    {
                        tooltip = "Hết thời gian ứng tuyển";
                    }
                }
                else
                {
                    tooltip = "Luôn tuyển";
                }
                <div class="job bg-white detail-job @if (item.Hot != null && item.Hot >= DateTime.Now) { @Html.Raw("active") } ">
                    @*@if (item.Hot != null && item.Hot >= DateTime.Now)
                    {
                        <div class="hot-job" data-tooltip="Việc làm tốt nhất" data-tooltip-position="top">
                            <i class="fab fa-hotjar mr-1"></i> Hot
                        </div>
                    }*@
                    <div class="media ">
                        <div>
                            <a href="@Url.Action("JobDetail", new {url = item.Url})" class="job-name custom-w" data-tooltip="@item.Name" data-tooltip-position="top">@item.Name</a>
                            <div class="company-name">
                                @item.Company.Name
                            </div>
                        </div>
                        <div class="media-body text-right">
                            <div class="right-item">
                                <a href="@Url.Action("JobDetail", new {url = item.Url})" class="apply-url">Ứng tuyển</a>
                                @if (email == "")
                                {
                                    <a href="#" data-tooltip="Phải đăng nhập để lưu tin" data-tooltip-position="top" data-toggle="modal" data-target="#qick-form" class="heart"><i class="fa-regular fa-heart"></i></a>
                                }
                                else
                                {
                                    if (Model.Likes.Any(a => a.JobId == item.Id))
                                    {
                                        <a href="javascripts:;" class="heart active unlikejob" data-id="@item.Id"><i class="fa-regular fa-heart"></i></a>
                                    }
                                    else
                                    {
                                        <a href="javascripts:;" class="heart likejob" data-id="@item.Id"><i class="fa-regular fa-heart"></i></a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                        <div class="w-75 custom-gap">
                            <span class="info-job price">@Html.DisplayFor(a => item.Wages)</span>
                            <span class="info-job">
                                @if (item.Cities.Any())
                                {
                                    if (item.Cities.Count > 1)
                                    {

                                        <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                            @item.Cities.Count Thành phố
                                        </span>
                                    }
                                    else
                                    {
                                        foreach (var city in item.Cities.Take(1))
                                        {
                                            <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                @city.Name
                                            </span>
                                        }
                                    }
                                }
                            </span>
                            <span class="info-job" data-tooltip="@tooltip" data-tooltip-position="top">
                                @if (item.ExpirationDate != null)
                                {
                                    if (item.ExpirationDate > DateTime.Now)
                                    {
                                        @:Còn <strong>@Utils.DateCountDown(item.ExpirationDate)</strong> để ứng tuyển
                                    }
                                    else
                                    {
                                        @:Hết thời gian
                                    }
                                }
                                else
                                {
                                    @:Luôn tuyển
                                }
                            </span>
                        </div>
                        
                    </div>
                </div>
            }
            if (Model.JobPosts.PageCount > 1)
            {
                <div class="text-center">
                    @Html.PagedListPager(Model.JobPosts, page => Url.Action("JobHot", new { page, name = Model.Name, careerId = Model.CareerId, cityId = Model.CityId, wage = Model.Wage }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 })
                </div>
            }
        }
        else
        {
            <div class="none-suitable-job__content">
                <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                <span>Chưa tìm thấy việc làm phù hợp với yêu cầu của bạn</span>
            </div>
        }

    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/select2.js"></script>
    <script>
        $('.select2').select2();
        Details();
        ActionDetail();
        QickLike();
    </script>
}