@model GlobeWork.ViewModel.SearchStudyAbroadViewModel
@using GlobeWork.Utils
@using PagedList.Mvc
@{
    ViewBag.Title = "Tìm kiếm du học";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("SearchStudyAbroad", new { page = Model.StudyAbroads.PageCount , name = Model.Name }); ;
}
<div class="studyAbroad-filter">
    <div class="container">
        <form class="row custom-row" action="@Url.Action("SearchStudyAbroad")">
            <div class="col-lg-7">
                @Html.TextBoxFor(a => a.Name , new { @placeholder = "Nhập từ khóa", @class="form-control", @required=""})
            </div>
            <div class="col-lg-3">
                <div class="form-control d-flex align-items-center justify-content-between">
                    <select class="select2 w-100" name="countruyId">
                        <option value="">Quốc gia</option>
                        @foreach (var item in Model.Countries)
                        {
                            <option @if (item.Id == Model.CountruyId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location"></i>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-block filter-btn">
                    <i class="far fa-search"></i>
                    TÌM KIẾM
                </button>
            </div>
        </form>
    </div>
</div>
<div class="bg-light">
    <div class="container py-4">
        <h2 class="title custom-title mt-3">
            Kết quả tìm kiếm: @Model.Name
        </h2>
        <div class="row mt-4">
            @if (Model.StudyAbroads.Any())
            {
                foreach (var item in Model.StudyAbroads)
                {
                    <div class="col-lg-6">
                        <div class="media mb-3 bg-white">
                            @if (item.Image != null)
                            {
                                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.Image)" alt="@item.Name" class="lazyload study-img" />
                            }
                            else
                            {
                                <img src="~/Content/images/on-image.jpg" alt="@item.Name" class="study-img"/>
                            }
                            <div class="media-body py-2">
                                <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})" class="study-name">Tuyển sinh du học vừa học vừa làm tại Nhật Bản 2023</a>
                                <div class="study-company">
                                    @item.Company.Name
                                </div>
                                <div class="group-info">
                                    <span><i class="fa-solid fa-briefcase-blank"></i> @Html.DisplayFor(a => item.Wages)</span>
                                    <span><i class="fa-sharp fa-solid fa-location-dot"></i> @item.StudyAbroadCategory.Country.Name</span>
                                    <span><i class="fa-regular fa-calendar-days"></i> @Utils.DateVn(item.CreateDate)</span>
                                    @if (item.Hot >= DateTime.Now)
                                    {
                                        <span class="hot"><i class="fa-solid fa-thumbs-up mr-1"></i> Nổi bật</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (Model.StudyAbroads.PageCount > 1)
                {
                    <div class="text-center col-12">
                        @Html.PagedListPager(Model.StudyAbroads, page => Url.Action("SearchStudyAbroad", new { page, name = Model.Name , countruyId = Model.CountruyId , companyId = Model.CompanyId }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 })
                    </div>
                }
            }
            else
            {
                <div class="none-suitable-job__content col-12 shadow-none">
                    <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                    <span>Không tìm thấy kết quả phù hợp với từ khóa của bạn !!!</span>
                </div>
            }

        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/select2.js"></script>
    <script>
        StudyAbroad()
        $('.select2').select2();
    </script>
}