@model GlobeWork.ViewModel.StudyAbroadCategoryViewModel
@using GlobeWork.Utils
@{
    ViewBag.Title = Model.StudyAbroadCategory.TitleMeta ?? Model.StudyAbroadCategory.CategoryName;
    ViewBag.Description = Model.StudyAbroadCategory.DescriptionMeta;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("StudyAbroadCategory", new { url = Model.StudyAbroadCategory.Url }); ;
    if (Model.StudyAbroadCategory.Banner != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/category/", Model.StudyAbroadCategory.Banner);
    }
}
<div class="studyAbroad-filter">
    <div class="container">
        <form class="row custom-row" action="@Url.Action("SearchStudyAbroad")">
            <div class="col-lg-7">
                <input type="text" name="name" value="" placeholder="Nhập từ khóa" class="form-control" required />
            </div>
            <div class="col-lg-3">
                <div class="form-control d-flex align-items-center justify-content-between">
                    <select class="select2 w-100" name="countruyId">
                        <option value="">Khu vực</option>
                        @foreach (var item in Model.Countries)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location"></i>
                </div>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-block filter-btn">
                    <i class="far fa-search"></i>
                    TÌM KIẾM
                </button>
            </div>
        </form>
        <div class="hot-keyword justify-content-start">
            <span>Từ Khóa Thịnh Hành:</span>
            <div class="list-keyword ml-1">
                @foreach (var item in Model.Skills)
                {
                    <a href="@Url.Action("Search", new {keyword = item.SkillName})">@item.SkillName</a>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.StudyAbroadCategory.Banner != null)
{
    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/category/", Model.StudyAbroadCategory.Banner)" alt="@Model.StudyAbroadCategory.CategoryName" class="lazyload banner-cat" />
}
<div class="bg-light">
    <div class="container py-5">
        @if (Model.NewStudyAbroad.Any())
        {
            <h2 class="title custom-title mt-3">
                Học bổng mới nhất
            </h2>
            <span class="sub-title">Bạn muốn tìm học bổng mới? Xem danh sách học bổng @Model.StudyAbroadCategory.CategoryName <a href="@Url.Action("StudyAbroadCategoryUrl" , new {url = Model.StudyAbroadCategory.Url})" class="link-green">tại đây</a></span>
            <div class="scholarship">
                @foreach (var item in Model.NewStudyAbroad)
                {
                    <div class="card item-scholarship">
                        <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})">
                            @if (item.Image != null)
                            {
                                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.Image)" alt="@item.Name" class="lazyload" />
                            }
                            else
                            {
                                <img src="~/Content/images/on-image.jpg" alt="@item.Name" />
                            }
                        </a>
                        <div class="card-body">
                            <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})" class="card-title">
                                @item.Name
                            </a>
                            <p class="card-text">@item.Company.Name</p>
                            <div class="card-btns">
                                <a href="#" class="link-scholarship">
                                    @Html.DisplayFor(a => item.Wages)
                                </a>
                                <a href="#" class="link-scholarship">
                                    @item.StudyAbroadCategory.Country.Name
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <h2 class="title custom-title mt-3">
            thông báo tuyển sinh @Model.StudyAbroadCategory.CategoryName
        </h2>
        <div class="study-abroad-grid">
            @foreach (var item in Model.HotStudyAbroad)
            {
                <div class="media mb-3">
                    @if (item.Image != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.Image)" alt="@item.Name" class="lazyload study-img" />
                    }
                    else
                    {
                        <img src="~/Content/images/on-image.jpg" alt="@item.Name" class="study-img"/>
                    }
                    <div class="media-body py-2">
                        <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})" class="study-name">Tuyển sinh du học vừa học vừa làm tại Nhật Bản 2023</a>
                        <div class="study-company">
                            @item.Company.Name
                        </div>
                        <div class="group-info">
                            <span><i class="fa-solid fa-briefcase-blank"></i> @Html.DisplayFor(a => item.Wages)</span>
                            <span><i class="fa-sharp fa-solid fa-location-dot"></i> @item.StudyAbroadCategory.Country.Name</span>
                            <span><i class="fa-regular fa-calendar-days"></i> @Utils.DateVn(item.CreateDate)</span>
                            <span class="hot"><i class="fa-solid fa-thumbs-up mr-1"></i> Nổi bật</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <h2 class="title custom-title mt-4">
            chương trình du học nghề tại úc
        </h2>
        <div class="row mt-3 custom-row">
            @for (int i = 0; i < 6; i++)
            {
                <div class="col-lg-4 col-6">
                    <article class="study-article card mb-3 bg-light">
                        <a href="#">
                            <img src="~/Content/images/nganh-nghe.png" alt="Alternate Text" />
                        </a>
                        <div class="card-body p-0">
                            <div class="date">
                                <i class="fa-regular fa-calendar-days mr-1"></i> 10/05/2023
                            </div>
                            <a href="#" class="subject-study">Chính phủ đưa ra chính sách hỗ trợ người dân mua bảo hiểm</a>
                            <div class="study-des">
                                Chính sách hỗ trợ để khuyến khích người dân mua bảo hiểm, đặc biệt là trong lĩnh vực bảo hiểm y tế. Điều này giúp người dân có thể...
                            </div>
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
</div>
<div class="studyAbroad-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="studyAbroad-footer-title">
                    du học các nước
                </div>
                <ul class="ul-reset ul-studyAbroad">
                    <li><a href="#">Du học Mỹ</a></li>
                    <li><a href="#">Du học Úc</a></li>
                    <li><a href="#">Du học Canada</a></li>
                    <li><a href="#">Du học Singapore</a></li>
                    <li><a href="#">Du học New Zealend</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="studyAbroad-footer-title">
                    Học bổng
                </div>
                <ul class="ul-reset ul-studyAbroad">
                    <li><a href="#">Du học Mỹ</a></li>
                    <li><a href="#">Du học Úc</a></li>
                    <li><a href="#">Du học Canada</a></li>
                    <li><a href="#">Du học Singapore</a></li>
                    <li><a href="#">Du học New Zealend</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="studyAbroad-footer-title">
                    danh sách trường
                </div>
                <ul class="ul-reset ul-studyAbroad">
                    <li><a href="#">Du học Mỹ</a></li>
                    <li><a href="#">Du học Úc</a></li>
                    <li><a href="#">Du học Canada</a></li>
                    <li><a href="#">Du học Singapore</a></li>
                    <li><a href="#">Du học New Zealend</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="studyAbroad-footer-title">
                    du học ngành hot
                </div>
                <ul class="ul-reset ul-studyAbroad">
                    <li><a href="#">Du học Mỹ</a></li>
                    <li><a href="#">Du học Úc</a></li>
                    <li><a href="#">Du học Canada</a></li>
                    <li><a href="#">Du học Singapore</a></li>
                    <li><a href="#">Du học New Zealend</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="info-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="media">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <div class="media-body">
                        <a href="#">  Số 41, ngõ 4 Đồng Me, Mễ Trì, Nam Từ Liêm, Hà Nội</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <div class="media-body">
                        <span>Điện thoại</span>
                        <a href="tel">(070) 3358.555</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <div class="media-body">
                        <span>Điện thoại</span>
                        <a href="tel">(070) 3358.555</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <div class="media-body">
                        <span>Điện thoại tư vấn</span>
                        <a href="#">(070) 3358.555  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/select2.js"></script>
    <script>
        StudyAbroad()
        $('.select2').select2();
    </script>
}