@model GlobeWork.ViewModel.StudyAbroadViewModel
@using GlobeWork.Utils
@{
    ViewBag.Title = "Du học";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("StudyAbroad");
}
<div class="studyAbroad-filter">
    <div class="container">
        <form class="row custom-row" action="@Url.Action("SearchStudyAbroad")">
            <div class="col-lg-7 col-md-9 col-8">
                <input type="text" name="name" value="" placeholder="Nhập từ khóa" class="form-control font-size-12" required/>
            </div>
            <div class="col-lg-3 col-md-3 col-4">
                <div class="form-control d-flex align-items-center justify-content-between font-size-12">
                    <select class="select2 w-100" name="countruyId">
                        <option value="">Khu vực</option>
                        @foreach (var item in Model.Countries)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location"></i>
                </div>
            </div>
            <div class="col-lg-2 mt-lg-0 mt-3">
                <button type="submit" class="btn btn-block filter-btn">
                    <i class="far fa-search"></i>
                    TÌM KIẾM
                </button>
            </div>
        </form>
        <div class="hot-keyword justify-content-start">
            <span>Từ Khóa Thịnh Hành:</span>
            <div class="list-keyword ml-1">
                @foreach (var item in Model.Skills)
                {
                    <a href="@Url.Action("Search", new {keyword = item.SkillName})">@item.SkillName</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container py-4">
        <div class="study-abroad">
            @foreach (var item in Model.Banners)
            {
                <a href="@item.Url">
                    @if (item.Image != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/banners/", item.Image)" alt="@item.BannerName" class="lazyload" />
                    }
                </a>
            }
        </div>
        @if (Model.NewStudyAbroad.Any())
        {
            <h2 class="title custom-title mt-3">
                Học bổng mới nhất
            </h2>
            <span class="sub-title">Bạn muốn tìm học bổng mới? Xem danh sách học bổng <a href="@Url.Action("AllStudyAbroad")" class="link-green">tại đây</a></span>
            <div class="scholarship">
                @foreach (var item in Model.NewStudyAbroad)
                {
                    <div class="card item-scholarship">
                        <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})">
                            @if (item.Image != null)
                            {
                                <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.Image)" alt="@item.Name" class="lazyload " />
                            }
                            else
                            {
                                <img src="~/Content/images/on-image.jpg" alt="@item.Name" />
                            }
                        </a>
                        <div class="card-body">
                            <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})" class="card-title">
                               @item.Name
                            </a>
                            <p class="card-text">@item.Company.Name</p>
                            <div class="card-btns">
                                <a href="#" class="link-scholarship">
                                   @Html.DisplayFor(a => item.Wages)
                                </a>
                                <a href="#" class="link-scholarship">
                                    @item.StudyAbroadCategory.Country.Name
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        @if (Model.HotStudyAbroad.Any())
        {
            <h2 class="title custom-title mt-4">
                Du học ngành HOT
            </h2>
            <div class="study-abroad-grid">
                @foreach (var item in Model.HotStudyAbroad)
                {
                    <div class="media mb-3">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/studyAbroad/", item.Image)" alt="@item.Name" class="lazyload study-img" />
                        }
                        else
                        {
                            <img src="~/Content/images/on-image.jpg" alt="@item.Name" class="study-img" />
                        }
                        <div class="media-body py-2">
                            <a href="@Url.Action("StudyAbroadDetail" , new {url = item.Url})" class="study-name">Tuyển sinh du học vừa học vừa làm tại Nhật Bản 2023</a>
                            <div class="study-company">
                                @item.Company.Name
                            </div>
                            <div class="group-info">
                                <span><i class="fa-solid fa-briefcase-blank"></i> @Html.DisplayFor(a => item.Wages)</span>
                                <span><i class="fa-sharp fa-solid fa-location-dot"></i> @item.StudyAbroadCategory.Country.Name</span>
                                <span><i class="fa-regular fa-calendar-days"></i> @Utils.DateVn(item.CreateDate)</span>
                                <span class="hot"><i class="fa-solid fa-thumbs-up mr-1"></i> Nổi bật</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div class="container py-4">
    <h2 class="title custom-title mt-3">
        tin tức du học
    </h2>
    <div class="row mt-4 custom-row">
        <div class="col-lg-8">
            @*<div class="title-name">
                Tin tức tiêu biểu
                <a href="@Url.Action("ArticleHot")">Xem thêm<i class="fa-regular fa-arrow-right ml-2"></i></a>
            </div>*@
            <div class="row custom-row mt-3">
                @foreach (var item in Model.HotArticle.Take(2))
                {
                    <div class="col-lg-6">
                        <article class="study-article card">
                           <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                               @if (item.Image != null)
                               {
                                   <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                               }
                               else
                               {
                                   <img src="~/Content/images/on-image.jpg" alt="@item.Subject" class="lazyload" />
                               }
                           </a>
                           <div class="card-body p-0">
                               <div class="date">
                                   <i class="fa-regular fa-calendar-days mr-1"></i> @item.CreateDate.ToString("dd/MM/yyyy")
                               </div>
                               <a href="@Url.Action("ArticleDetail", new {url = item.Url})" class="subject-study">@item.Subject</a>
                               <div class="study-des">
                                   @item.Description
                               </div>
                           </div>
                        </article>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4">
            @*<div class="title-name mb-4">
                Xem nhiều
                <a href="#">Xem thêm<i class="fa-regular fa-arrow-right ml-2"></i></a>
            </div>*@
            @foreach (var item in Model.HotArticle.Skip(2).Take(4))
            {
                <div class="media study-media my-3">
                    <a href="@Url.Action("ArticleDetail", new {url = item.Url})">
                        @if (item.Image != null)
                        {
                            <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject" class="lazyload" />
                        }
                        else
                        {
                            <img src="~/Content/images/on-image.jpg" alt="@item.Subject" class="lazyload" />
                        }
                    </a>
                    <div class="media-body ml-3">
                        <a href="@Url.Action("ArticleDetail", new {url = item.Url})" class="subject-study-media">@item.Subject</a>
                        <div class="study-media-des">
                            @item.Description
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/select2.js"></script>
    <script>
        StudyAbroad()
        $('.select2').select2();
    </script>
}
