@model GlobeWork.ViewModel.CompanyStudyViewModel
@using GlobeWork.Utils
@using PagedList.Mvc
@{
    ViewBag.Title = "Tin du hocj";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("StudyAbroadCom", new { url = Model.Company.Url });
    if (Model.Company.Avatar != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/company/", Model.Company.Avatar);
    }
    var email = ViewContext.RouteData.Values["Email"].ToString();
}
@functions {
    public string IsLinkActive(string path)
    {
        string currentPath = Context.Request.Path;
        return currentPath.Equals(path, StringComparison.OrdinalIgnoreCase) ? "active" : "";
    }
}
<div class="bg-light py-4">
    <div class="container">
        <div class="company-cover-inner">
            <div class="cover-wrapper">
                @if (Model.Company.Cover != null)
                {
                    <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Company.Cover)" alt="@Model.Company.Name" class="lazyload">
                }
                else
                {
                    <img src="~/Content/images/cover-null.png" alt="@Model.Company.Name" class="lazyload">
                }
            </div>
            <div class="company-logo">
                <div class="company-image-logo shadow">
                    @if (Model.Company.Avatar != null)
                    {
                        <img src="~/Content/images/base64.gif" data-src="@Path.Combine("/images/company/", Model.Company.Avatar)" alt="@Model.Company.Name" class="img-responsive lazyload">
                    }
                    else
                    {
                        <img src="~/Content/images/avatar-default.jpg" alt="@Model.Company.Name" class="img-responsive lazyload">
                    }
                </div>
            </div>
            <div class="company-detail-overview employer-detail">
                <div class="box-detail">
                    <h1 class="company-detail-name text-dark">@Model.Company.Name <span class="tag-name">@Model.Company.City.Name</span></h1>
                    <div class="company-subdetail">
                        <a href="@Model.Company.WebsiteUrl" target="_blank">
                            <i class="fa-sharp fa-solid fa-globe"></i>
                            @if (Model.Company.WebsiteUrl != null)
                            {
                                @Model.Company.WebsiteUrl
                            }
                            else
                            {
                                @:Đang cập nhật
                            }
                        </a>
                        <a href="javascripts:;"><i class="fa-solid fa-buildings"></i>@Model.Company.CompanySize</a>
                        <a href="javascripts:;"><i class="fa-solid fa-users"></i>@Model.Company.JobPosts.Count() công việc đang tuyển</a>
                    </div>
                </div>
                <div class="box-follow">
                    @if (email == "")
                    {
                        <a href="@Url.Action("Login","User")" class="btn btn-follow">
                            <i class="fa-light fa-plus"></i> Theo dõi công ty
                        </a>
                    }
                    else
                    {
                        if (Model.Follows.Any())
                        {
                            <a href="javascripts:;" class="btn btn-follow unfollow" data-company-id="@Model.Company.EmployerId">
                                Bỏ theo dõi công ty
                            </a>
                        }
                        else
                        {
                            <a href="javascripts:;" class="btn btn-follow follow" data-company-id="@Model.Company.EmployerId">
                                Theo dõi công ty
                            </a>
                        }
                    }
                </div>
                <div class="navs-employer">
                    <a href="@Url.Action("Employer" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("Employer", new {url = Model.Company.Url} )))">Trang chủ</a>
                    <a href="@Url.Action("Recruitment" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("Recruitment")))">Tin tuyển dụng</a>
                    <a href="@Url.Action("StudyAbroadCom" , new {url = Model.Company.Url})" class="@(IsLinkActive(Url.Action("StudyAbroadCom")))">Tin du học</a>
                </div>
            </div>
        </div>
        <div class="recruitment">
            <div class="job-q mb-3">
                Hiện tại đang tuyển dụng <span>@Model.StudyAbroads.Count()</span> vị trí
            </div>
            <form class="grid-form mb-4" action="@Url.Action("StudyAbroadCom")">
                @Html.HiddenFor(a => a.Url)
                @Html.TextBoxFor(a => a.Name, new { @class = "grid-form1 form-control", @placeholder = "Tên công việc, ví trí bạn muốn ứng tuyển..." })
                <div class="grid-form2 form-control">
                    <select class="v-select custom-slected" name="cityId">
                        <option value="">Khu vực</option>
                        @foreach (var item in Model.Cities)
                        {
                            <option @if (Model.CityId == item.Id) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <i class="far fa-location mx-2"></i>
                </div>
                <button type="submit" class="btn btn-block filter-btn grid-form4"><i class="far fa-search"></i>Tìm kiếm</button>
            </form>
            @if (Model.StudyAbroads.Any())
            {
                foreach (var item in Model.StudyAbroads)
                {
                    <div class="job bg-white detail-job @if (item.Hot != null && item.Hot > DateTime.Now) { @Html.Raw("active") } ">
                        <div class="media ">
                            <div>
                                <a href="@Url.Action("StudyAbroadDetail", new {url = item.Url})" class="job-name custom-w" data-tooltip="@item.Name" data-tooltip-position="top">@item.Name</a>
                                <div class="company-name">
                                    @item.Company.Name
                                </div>
                            </div>
                            <div class="media-body time-deadline text-right">
                                @if (item.ExpirationDate != null)
                                {
                                    if (item.ExpirationDate > DateTime.Now)
                                    {
                                        @:Còn <strong>@Utils.DateCountDown(item.ExpirationDate)</strong> để ứng tuyển
                                    }
                                    else
                                    {
                                        @:Hết thời gian ứng tuyển
                                    }
                                }
                                else
                                {
                                    @:Luôn tuyển
                                }
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-1">
                            <div class="w-75">
                                <span class="info-job price">@Html.DisplayFor(a => item.Wages)</span>
                                <span class="info-job">
                                    @if (item.Cities.Any())
                                    {
                                        if (item.Cities.Count > 1)
                                        {

                                            <span data-tooltip="@string.Join(" , ", item.Cities.Select(city => city.Name))" data-tooltip-position="top">
                                                @item.Cities.Count Thành phố
                                            </span>
                                        }
                                        else
                                        {
                                            foreach (var city in item.Cities.Take(1))
                                            {
                                                <span data-tooltip="@city.Name" data-tooltip-position="top">
                                                    @city.Name
                                                </span>
                                            }
                                        }
                                    }
                                </span>
                            </div>
                            @if (email == "")
                            {
                                <a href="@Url.Action("Login", "User")" class="heart"><i class="fas fa-heart" style="color: #d1d0d2;"></i></a>
                            }
                            else
                            {
                                if (Model.Likes.Any(a => a.StudyAbroadId == item.Id))
                                {
                                    <div class="heart active unlikejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></div>
                                }
                                else
                                {
                                    <div class="heart likejob" data-id="@item.Id"><i class="fas fa-heart" style="color: #d1d0d2;"></i></div>
                                }
                            }
                        </div>
                    </div>
                }
                if (Model.StudyAbroads.PageCount > 1)
                {
                    <div class="text-center">
                        @Html.PagedListPager(Model.StudyAbroads, page => Url.Action("StudyAbroadCom", new { page, url = Model.Url, name = Model.Name, cityId = Model.CityId }))
                    </div>
                }
            }
            else
            {
                <div class="none-suitable-job__content">
                    <img src="https://static.topcv.vn/v4/image/job-list/none-result.png" alt="None suitable job">
                    <span>Chưa tìm thấy việc làm phù hợp với yêu cầu của bạn</span>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/select2.js"></script>
    <script>
        StudyAbroad()
        $('.select2').select2();
        QickStudy()
    </script>
}