@model GlobeWork.ViewModel.AdminEditCandidateViewModel
@{
    ViewBag.Title = "Chỉnh sửa thông tin ứng viên";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .w100 {
        width: 100% !important;
    }

    .load-order-view {
        padding: 0 15px;
    }

    .vscomp-ele {
        max-width: none;
    }

    .item {
        margin-top: 24px;
    }

    .title {
        font-size: 1.25rem;
    }

    .box {
        margin-top: 16px;
    }

    .vscomp-toggle-all-button {
        display: none !important;
    }

    .avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<h2>Sửa thông tin ứng viên</h2>
@if (ViewBag.Result == "success")
{
<div id="AlertBox" class="alert alert-success"><strong>Cập nhật ứng viên thành công</strong></div>}
<a class="btn quick-link" href="@Url.Action("ListCandidate")"><i class="far fa-list mr-1"></i> Danh sách ứng viên</a>
<div class="box_content">

    @using (Html.BeginForm("EditCandidate", "UserVcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Candidate.UserId)
        <div class="top d-flex">
            @if (Model.Candidate.User.Avatar != null)
            {
                <img src="@Path.Combine("/images/user/", Model.Candidate.User.Avatar)" class="avatar" />
            }
            else
            {
                <img src="~/Content/images/avatar.png" class="avatar" />
            }
            <div class="ml-lg-5 ml-3">
                <p class="desc text-sm">
                    Bạn có thể thay đổi hình đại diện khác. Nếu không sẽ sử dụng hình đại diện mặc định
                </p>
                @Html.TextBoxFor(model => model.Candidate.User.Avatar, new { type = "file" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="item">
                    <label>Tên đăng nhập*</label>
                    @Html.TextBoxFor(model => model.Candidate.User.UserName, new { @class = "form_control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.User.UserName)
                </div>
                <div class="item">
                    <label>Mật khẩu</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form_control", placeholder = "Mật khẩu của thành viên (để trống nếu ko thay đổi)"})
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="item">
                    <label>Họ và tên*</label>
                    @Html.TextBoxFor(model => model.Candidate.Name, new { @class = "form_control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.Name)
                </div>
                <div class="item">
                    <label>Email nhận thông tin</label>
                    @Html.TextBoxFor(model => model.Candidate.Email, new { @class = "form_control", @type = "email", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.Email)
                </div>

                <div class="item">
                    <label>Địa chỉ*</label>
                    @Html.TextBoxFor(model => model.Candidate.Address, new { @class = "form_control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.Address)
                </div>
                <div class="item">
                    <label>Chức danh nghề nghiệp*</label>
                    @Html.TextBoxFor(model => model.Candidate.CareerTitle, new { @class = "form_control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.CareerTitle)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <label>Email đăng nhập*</label>
                    @Html.TextBoxFor(model => model.Candidate.User.EmailRegister, new { @class = "form_control", @required = "" })
                    @Html.ValidationMessageFor(model => model.Candidate.User.EmailRegister)
                </div>
                <div class="item">
                    <label>Số điện thoại</label>
                    @Html.EditorFor(model => model.Candidate.User.Phone, new { @palceholder = "Nhập số điện thoại" })
                </div>
                <div class="item">
                    <label>Ngày sinh*</label>
                    <input type="text" id="datepicker" autocomplete="off" required class="form_control" name="DateOfBirth" value="@Html.DisplayFor(m => Model.Candidate.DateOfBirth)"/>
                </div>
                <div class="item">
                    <label>Hiển thị thông tin</label>
                    @Html.DropDownListFor(model => model.Candidate.ActiveProfile, new[] { new SelectListItem { Text = "Hiển thị", Value = "true" }, new SelectListItem { Text = "Không hiển thị", Value = "false" } }, new { @class = "form_control" })
                    @Html.ValidationMessageFor(model => model.Candidate.ActiveProfile)
                </div>
                <div class="item">
                    <label>Giới tính</label>
                    @Html.EnumDropDownListFor(model => model.Candidate.Genders, new { @class = "form_control" })
                </div>
            </div>
        </div>
        <div class="item mb-3">
            <label>Giới thiệu*</label>
            @Html.EditorFor(model => model.Candidate.Introduce)
            @Html.ValidationMessageFor(model => model.Candidate.Introduce)
        </div>
        <div class="box">
            <h3 class="title">
                CV của bạn
            </h3>
            @Html.TextBoxFor(model => model.Candidate.FileCv, new { @type = "file" })
            <br />
            @if (!string.IsNullOrEmpty(Model.Candidate.FileCv))
            {
                <br />
                <a href="@Path.Combine("/fileCv/", Model.Candidate.FileCv)" target="_blank" class="current-file">
                    @Model.Candidate.FileCv
                </a>
                <a href="javascript:;" onclick="$('.current-file').hide(); $('#CurrentFile').val('');" class="current-file"><img src="/Content/admin/icon-delete-red.png" alt="" style="vertical-align: middle; height: 10px; margin-left: 8px;" /></a>
            }
            <input type="hidden" name="CurrentFile" id="CurrentFile" value="@Model.Candidate.FileCv" />
        </div>
        <div class="box">
            <h3 class="title">
                Tham khảo
            </h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="item">
                        <label>Ngành nghề</label>
                        <select class="career" multiple required name="career" placeholder="Chọn ngành nghề">
                            <option value="" selected disabled>Chọn ngành nghề</option>
                            @foreach (var item in Model.CareerSelectList)
                            {
                                <option value="@item.Value" @if (Model.Candidate.Careers.Any(p => p.Id == Convert.ToInt32(item.Value))) { @Html.Raw("selected") }>@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <label>Hình thức</label>
                        <select class="type" multiple required name="type" placeholder="Chọn hình thức">
                            <option value="" selected disabled>Chọn hình thức</option>
                            @foreach (var item in Model.JobTypeSelectList)
                            {
                                <option value="@item.Value" @if (Model.Candidate.JobTypes.Any(p => p.Id == Convert.ToInt32(item.Value))) { @Html.Raw("selected") }>@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <label>Cấp bậc</label>
                        <select class="rank" multiple required name="rank" placeholder="Chọn cấp bậc">
                            <option value="" selected disabled>Chọn cấp bậc</option>
                            @foreach (var item in Model.RankSelectList)
                            {
                                <option value="@item.Value" @if (Model.Candidate.Ranks.Any(p => p.Id == Convert.ToInt32(item.Value))) { @Html.Raw("selected") }>@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <label>Địa điểm làm việc</label>
                        <select class="city" multiple required name="city" placeholder="Chọn thành phố">
                            <option value="" selected disabled>Chọn thành phố</option>
                            @foreach (var item in Model.CitySelectList)
                            {
                                <option value="@item.Value" @if (Model.Candidate.Citys.Any(p => p.Id == Convert.ToInt32(item.Value))) { @Html.Raw("selected") }>@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <label>Mức lương tối thiểu</label>
                        @Html.TextBoxFor(model => model.Candidate.SalalyMin, new { @class = "input-number from_control", @name = "integer" })
                        @Html.ValidationMessageFor(model => model.Candidate.SalalyMin)
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <h3 class="title">
                Học vấn
            </h3>
            @Html.EditorFor(model => model.Candidate.Education)
        </div>
        <div class="box">
            <h3 class="title">
                Kinh nghiệm
            </h3>
            @Html.EditorFor(model => model.Candidate.Experience)
        </div>
        <button type="submit" class="btn quick-link mt-3">Cập nhật thông tin</button>
    }
</div>
@section scripts {
    <script src="~/Scripts/jquery.masknumber.min.js"></script>
    <script>
        VitualSelect();
        $(document).ready(function () {
            $('.input-number').maskNumber({ integer: true });
        })
    </script>
}

