@model GlobeWork.ViewModel.AdminEditCompanyViewModel
@{
    ViewBag.Title = "Sửa thông tin công ty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .w100 {
        width: 100% !important;
    }

    .load-order-view {
        padding: 0 15px;
    }

    .vscomp-ele {
        max-width: none;
    }

    .item {
        margin-top: 24px;
    }

    .title {
        font-size: 1.25rem;
    }

    .box {
        margin-top: 16px;
    }

    .vscomp-toggle-all-button {
        display: none !important;
    }

    .avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<h2>Sửa thông tin công ty</h2>
<a class="btn quick-link" href="@Url.Action("ListCompany")"><i class="far fa-list mr-1"></i> Danh sách công ty</a>
<div class="box_content">
    @if (ViewBag.Result == "success")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thông tin thành công</strong></div>
    }
    @using (Html.BeginForm("EditCompany", "UserVcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Company.EmployerId)
        <div class="row">
            <div class="col-lg-6">
                <div class="item">
                    <label>Tên công ty*</label>
                    @Html.EditorFor(model => model.Company.Name)
                </div>
                <div class="item">
                    <label>Website</label>
                    @Html.EditorFor(model => model.Company.WebsiteUrl)
                </div>
                <div class="item">
                    <label>Quy mô công ty</label>
                    @Html.EditorFor(model => model.Company.CompanySize)
                </div>
                <div class="item">
                    @Html.LabelFor(a => a.Company.EstablishmentDate)
                    @Html.TextBoxFor(model => model.Company.EstablishmentDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                </div>
                <div class="item">
                    @Html.LabelFor(a => a.Company.Age)
                    @Html.TextBoxFor(model => model.Company.Age, new { @class = "form-control " })
                </div>
                <div class="item">
                    <label>Thành phố</label>
                    <br />
                    <select class="form-control" name="city">
                        @foreach (var item in Model.Cities)
                        {
                            if (Model.Cities != null)
                            {
                                <option @if (item.Id == Model.Company.CityId) { @Html.Raw("selected") } value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <label>Email đăng ký*</label>
                    @Html.TextBoxFor(model => model.Company.Email, new { @class = "form_control" })
                    @Html.ValidationMessageFor(a => a.Company.Email)
                </div>
                <div class="item">
                    <label>Số điện thoại</label>
                    @Html.EditorFor(model => model.Company.Phone)
                </div>
                <div class="item">
                    <label>Địa chỉ</label>
                    @Html.EditorFor(model => model.Company.Address)
                    @Html.ValidationMessageFor(model => model.Company.Address)
                </div>
                <div class="item">
                    <label>Mã nhúng Google Map</label>
                    @Html.TextAreaFor(model => model.Company.GoogleMap, new {@rows="5"})
                    @Html.ValidationMessageFor(model => model.Company.GoogleMap)
                </div>
                <div class="item">
                    <label>Mã nhúng Youtube</label>
                    @Html.TextAreaFor(model => model.Company.VideoYoutube, new { @rows = "5" })
                    @Html.ValidationMessageFor(model => model.Company.VideoYoutube)
                </div>
                <div class="item">
                    <label>Ngành nghề*</label>
                    <br />
                    <select class="career" name="career" multiple>
                        @foreach (var item in Model.Careers)
                        {
                            if (Model.Company != null)
                            {
                                var isSelected = Model.Company.Careers.Any(a => a.Id == item.Id);
                                <option @(isSelected ? "selected" : "") value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="box">
            <h3 class="title">
                Mô tả
            </h3>
            @Html.EditorFor(model => model.Company.Body)
        </div>
        <div class="box">
            <h3 class="title">
                Sản phẩm dịch vụ
            </h3>
            @Html.EditorFor(model => model.Company.Product)
        </div>
        
        <button type="submit" class="btn btn-search mt-4">Cập nhật thông tin</button>
    }
</div>
<link href="~/Content/virtual-select.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/virtual-select.min.js"></script>
    <script>
        VitualSelect();

    </script>
}

