@model GlobeWork.ViewModel.ConfigViewModel
@{
    ViewBag.Title = "Cấu hình Website";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .form_name {
        width: 135px;
    }
</style>
<a class="btn quick-link" href="@Url.Action("Index","Vcms")"><i class="far fa-list mr-1"></i> Quay lại trang chủ</a>
<div class="box_content">
    @if (ViewBag.Result == "success")
    {
        <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thông tin thành công</strong></div>}
    @using (Html.BeginForm("ConfigSite", "Vcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(a => a.ConfigSite.Id)
<table class="form_table">
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Title)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Title)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Description)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Description)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Image)</td>
        <td class="form_text">@Html.TextBoxFor(model => model.ConfigSite.Image, new { type = "file" }) <span class="red-warring">Kích thươc: 180px - 50px</span></td>
    </tr>
    @if (Model.ConfigSite.Image != null)
    {
        <tr>
            <td class="form_name"></td>
            <td class="form_text"><img class="img-border" src="@Path.Combine("/images/configs/", Model.ConfigSite.Image)?w=150" /></td>
        </tr>
    }
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Favicon)</td>
        <td class="form_text">@Html.TextBoxFor(model => model.ConfigSite.Favicon, new { type = "file" }) <span class="red-warring">Kích thươc: 64px - 64px</span></td>
    </tr>
    @if (Model.ConfigSite.Favicon != null)
    {
        <tr>
            <td class="form_name"></td>
            <td class="form_text"><img class="img-border" src="@Path.Combine("/images/configs/", Model.ConfigSite.Favicon)?w=150" /></td>
        </tr>
    }
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.ImageShare)</td>
        <td class="form_text">@Html.TextBoxFor(model => model.ConfigSite.ImageShare, new { type = "file" })</td>
    </tr>
    @if (Model.ConfigSite.ImageShare != null)
    {
        <tr>
            <td class="form_name"></td>
            <td class="form_text"><img class="img-border" src="@Path.Combine("/images/configs/", Model.ConfigSite.ImageShare)?w=150" /></td>
        </tr>
    }

    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.InfoFooter)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.InfoFooter)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.AboutContact)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.AboutContact)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.NapTien)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.NapTien)</td>
    </tr>
    <tr>
        <td class="form_name"></td>
        <td class="form_text">Cấu hình Mail tự động</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.EmailConfigs)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.EmailConfigs)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.PassWordMail)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.PassWordMail)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Place)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Place)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Hotline)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Hotline)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Hotline2)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Hotline2)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Hotline3)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Hotline3)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Zalo)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Zalo)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Email)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Email)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Facebook)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Facebook)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Youtube)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Youtube)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.Twitter)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.Twitter)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.PriceJob)/ngày</td>
        <td class="form_text">@Html.EditorFor(model => model.PriceJob, new { @type = "number" })</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.PriceStudyAbroad)/ngày</td>
        <td class="form_text">@Html.EditorFor(model => model.PriceStudyAbroad, new { @type = "number" })</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.PriceCompany)/ngày</td>
        <td class="form_text">@Html.EditorFor(model => model.PriceCompany, new { @type = "number" })</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.PriceArticle)/ngày</td>
        <td class="form_text">@Html.EditorFor(model => model.PriceArticle, new { @type = "number" })</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.GoogleMap)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.GoogleMap)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.GoogleAnalytics)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.GoogleAnalytics)</td>
    </tr>
    <tr>
        <td class="form_name">@Html.LabelFor(model => model.ConfigSite.LiveChat)</td>
        <td class="form_text">@Html.EditorFor(model => model.ConfigSite.LiveChat)</td>
    </tr>
    <tr>
        <td class="form_name"></td>
        <td class="form_text"><input type="submit" class="btn quick-link" value="Cập nhật" /></td>
    </tr>
</table>
    }
</div>
@section scripts{
    <script src="~/Scripts/jquery.maskMoney.min.js"></script>
    <script src="~/Scripts/jquery.tagsinput-revisited.js"></script>
    <link href="~/Content/jquery.tagsinput-revisited.css" rel="stylesheet" />
    <script>
        $(function () {
            $(".input-number").maskMoney({
                precision: 0,
                thousands: ','
            });
        });
    </script>
}