@model GlobeWork.Models.Skill
@{ ViewBag.Title = "Cập nhật kỹ năng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<h2>Cập nhật Từ khóa</h2>
@if (ViewBag.Result == "success")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật Từ khóa thành công</strong></div>}
@if (ViewBag.Result == "update")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật Từ khóa thành công</strong></div>}
<a class="btn quick-link" id="create-skill" href="@Url.Action("ListSkill")"><i class="far fa-list mr-1"></i> Danh sách Từ khóa</a>
<div class="box_content px-300">
    @using (Html.BeginForm("UpdateSkill", "Vcms", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <table class="form_table">
            <tr>
                <td class="form_name">@Html.LabelFor(a => Model.TypeSkill)</td>
                <td class="form_text">@Html.EnumDropDownListFor(a => Model.TypeSkill, new { @class = "form_control w300" })</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.SkillName)</td>
                <td class="form_text">@Html.EditorFor(model => model.SkillName)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.Code)</td>
                <td class="form_text">@Html.EditorFor(model => model.Code)</td>
            </tr>
            <tr>
                <td class="form_name">@Html.LabelFor(model => model.ShowHome)</td>
                <td class="form_text">@Html.CheckBoxFor(model => model.ShowHome)</td>
            </tr>
            <tr>
                <td class="form_name"></td>
                <td class="form_text">
                    <input type="submit" class="btn quick-link" value="Cập nhật" />
                </td>
            </tr>
        </table>
    }
</div>
@*@Html.Action("ListSkill", "Vcms")*@
