@model GlobeWork.ViewModel.ListStudyVcmsViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách tin tuyển dụng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .overflow-x-auto {
        overflow-x: auto;
    }
</style>
@if (ViewBag.Result == "true")
{
    <div id="AlertBox" class="alert alert-success"><strong>Cập nhật thành công</strong></div>}

@if (ViewBag.Result == "success")
{
    <div id="AlertBox" class="alert alert-success"><strong>Upload file thành công</strong></div>
}
<h2>Danh sách việc làm</h2>
<a class="btn quick-link" href=""></a>
<div class="box_content">
    @using (Html.BeginForm("ListStudyAbroad", "StudyAbroadVcms", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-3 mb-lg-0 mb-2">
                <label>Từ khóa</label>
                @Html.TextBoxFor(model => model.Name, new { @placeholder = "Từ khóa" })
            </div>
            <div class="col-lg-3 mb-lg-0 mb-2">
                <label>Thứ tự</label>
                <select name="Sort">
                    <option value="date-asc" @if (Model.Sort == "date-asc") { @Html.Raw("selected='selected'") }>Mới nhất</option>
                    <option value="date-desc" @if (Model.Sort == "date-desc") { @Html.Raw("selected='selected'") }>Cũ nhất</option>
                    <option value="name" @if (Model.Sort == "name") { @Html.Raw("selected='selected'") }>Theo tên</option>
                </select>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-2">
                <label>Hạn ứng tuyển</label>
                <select name="StatusTime">
                    <option value="">Tất cả</option>
                    <option value="1" @if (Model.StatusTime == 1) { @Html.Raw("selected='selected'") }>Việc đang tuyển </option>
                    <option value="0" @if (Model.StatusTime == 0) { @Html.Raw("selected='selected'") }>Việc hết hạn</option>
                </select>
            </div>
            <div class="col-lg-3 mb-lg-0 mb-2">
                <label>Trạng thái</label>
                @Html.DropDownListFor(model => model.Status, Model.StatuSelectList, "Tất cả")
            </div>
            <div class="col-lg-3 mb-lg-0 mb-2">
                <label>Khoảng thời gian</label>
                <div class="datepicker-to-from">
                    <input autocomplete="off" id="date-range" value="@Model.StartTime @Model.EndTime" />
                    <input type="hidden" id="startTime" name="startTime" class="date-picker" value="">
                    <input type="hidden" id="endTime" name="endTime" class="date-picker" value="">
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <label>Ngành nghề</label>
                <select class="filter" name="CareerIds">
                    <option value="">Ngành nghề</option>
                    @foreach (var item in Model.Careers)
                    {
                        if (!string.IsNullOrEmpty(Model.CareerIds))
                        {
                            <option value="@item.Id" @if (Model.CareerIds.Split(',').Contains(item.Id.ToString())) { @Html.Raw("selected") } )>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-3 align-self-center">
                <button type="submit" class="btn-search ">Tìm kiếm</button>
            </div>
        </div>
    }
    <p>Có tổng số <strong>@Model.StudyAbroads.TotalItemCount</strong> việc làm</p>
    <div class="overflow-x-auto">
        <form id="productList">
            <table class="list_table tablecenter table-striped">
                <tbody>
                    <tr>
                        <th width="20%">Tiêu đề</th>
                        <th width="15%">Công ty / Tên đăng nhập</th>
                        <th width="10%">Đơn xin việc</th>
                        <th width="8%">Ngày tạo</th>
                        <th width="8%">Ngày hết hạn</th>
                        <th width="80px">Lượt xem</th>
                        <th width="80px">Đã đăng</th>
                        <th width="80px">Danh mục</th>
                        <th width="120px"></th>
                    </tr>
                    @foreach (var item in Model.StudyAbroads)
                    {
                        <tr data-id="@item.Id">
                            <td class="left">
                                <a href="@Url.Action("JobPostDetail", "Home", new{url = item.Url, jobId = item.Id})" class="@if (item.Hot != null && item.Hot > DateTime.Now) { @Html.Raw("alert-success")}" target="_blank">@item.Name</a>
                            </td>
                            <td class="left">@item.Company.Name (@item.Company.Employer.FullName)</td>
                            <td>
                                @if (item.ApplyJobs.Any())
                                {
                                    <a href="@Url.Action("ListApplyByJobPost", new {jobPostId = item.Id})" data-fancybox data-type="iframe">Có @item.ApplyJobs.Count() đơn</a>
                                }
                                else
                                {
                                    <span>N/A</span>
                                }

                            </td>
                            <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (item.ExpirationDate != null)
                                {
                                    @item.ExpirationDate.Value.ToString("dd/MM/yyyy")
                                }
                                else
                                {
                                    <span>Luôn tuyển</span>
                                }
                            </td>
                            <td>@item.View</td>
                            <td>@Html.EditorFor(a => item.Active)</td>
                            <td>@item.StudyAbroadCategory.CategoryName</td>
                            <td>
                                @*<a href="javascript:;" onclick="updateJobPost('@item.Id')">Cập nhật - </a>*@
                                <a href="@Url.Action("UpdateStudyAbroadVcms", new{Id = item.Id})">Sửa</a>
                                - <a href="javascript:;" onclick="deleteJobPost('@item.Id')" class="red-warring">Xóa</a>
                            </td>
                        </tr>
                    }
                    @if (Model.StudyAbroads.PageCount > 1)
                    {
                        <tr>
                            <td colspan="10">
                                @Html.PagedListPager(Model.StudyAbroads, page => Url.Action("ListStudyAbroad", new
                           {
                               page,
                               name = Model.Name,
                               startTime = Model.StartTime,
                               endTime = Model.EndTime,
                               status = Model.Status,
                               sort = Model.Sort,
                               statusTime = Model.StatusTime,
                               careerIds = Model.CareerIds,
                               countruyIds = Model.CountryIds,
                           }))
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.daterangepicker.js"></script>
    <script type="text/javascript">
        function deleteJobPost(id) {
            if (confirm("Bạn có chắc chắn xóa bài viết này không?")) {
                $.post("/StudyAbroadVcms/DeleteStudyAbroad", { Id: id }, function (data) {
                    if (data) {
                        $.toast({
                            text: 'Xóa việc làm thành công',
                            position: 'bottom-right',
                            icon: 'success',
                        })
                        $("tr[data-id='" + id + "']").fadeOut();
                    }
                    else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            icon: 'error',
                        })
                    }
                });
            }
        }
        function updateJobPost(id) {
            var elm = $('tr[data-id="' + id + '"]');
            var active = elm.find("input#item_Active").prop("checked");
            var home = elm.find("input#item_ShowHome").prop("checked");
            var special = elm.find("input#item_Special").prop("checked");

            $.post("/StudyAbroadVcms/QuickUpdateStudyAbroad", { Id: id, active, home, special },
                function (data) {
                    if (data) {
                        $.toast({
                            text: 'Cập nhật thành công',
                            position: 'bottom-right',
                            icon: 'success'
                        });
                    } else {
                        $.toast({
                            text: 'Quá trình thực hiện không thành công. Hãy thử lại',
                            position: 'bottom-right',
                            icon: 'error'
                        });
                        window.location.reload();
                    };
                });
        }
        $('#date-range').dateRangePicker({
            format: 'DD/MM/YYYY',
            language: 'vn',
            autoClose: true,
            separator: ' đến ',
            setValue: function (s, s1, s2) {
                $(this).val(s);
                $('#startTime').val(s1);
                $('#endTime').val(s2);
            },
        })
        Select2();
    </script>
}